.low {
    border-left: 5px solid #f5d20e;
    text-align: left;
  }
  
 .medium {
    border-left: 5px solid #f56e45;
    text-align: left;
  }

.high {
    border-left: 5px solid #f30505;
    text-align: left;
  }


.MuiTableCell-root { 
    padding: 4px !important;
}