############################
# OS X
############################

**/*.DS_Store
**/*.AppleDouble
**/*.LSOverride
**/**/Icon
**/*.Spotlight-V100
**/*.Trashes
**/*._*


############################
# Linux
############################

*~


############################
# Windows
############################

**/Thumbs.db
**/ehthumbs.db
**/Desktop.ini
**/$RECYCLE.BIN/
**/*.cab
**/*.msi
**/*.msm
**/*.msp


############################
# Packages
############################

**/*.7z
**/*.csv
**/*.dat
**/*.dmg
**/*.gz
**/*.iso
**/*.jar
**/*.rar
**/*.tar
**/*.zip
**/*.com
**/*.class
**/*.dll
**/*.exe
**/*.o
**/*.seed
**/*.so
**/*.swo
**/*.swp
**/*.swn
**/*.swm
**/*.out
**/*.pid


############################
# Logs and databases
############################

**/*.tmp
**/*.log
**/*.sql
**/*.sqlite
**/*.sqlite3


############################
# Misc.
############################

*#
**/ssl
**/.idea
**/nbproject
**/public/uploads/*
!**/public/uploads/.gitkeep

############################
# Node.js
############################

**/lib-cov
**/lcov.info
**/pids
**/logs
**/results
**/node_modules
**/.node_history

############################
# Tests
############################

**/testApp
**/coverage

############################
# Strapi
############################

**/.env
**/license.txt
**/exports
**/*.cache
**/build
!**/wysiwyg/admin/src/components/ckeditor5-build-classic/build
**/.strapi-updater.json
**/package-lock.json
**/yarn.lock

############################
# Documentation
############################

**/documentation

##### Backend ######

# Build results
**/[Dd]ebug/
**/[Dd]ebugPublic/
**/[Rr]elease/
**/[Rr]eleases/
**/x64/
**/x86/
**/bld/
**/app/*[Bb]in/
**/bin/
**/[Oo]bj/
**/[Ll]og/

# Visual Studio 2015/2017 cache/options directory
**/.vs/
**/.vscode/

# Visual Studio 2017 auto generated files
**/Generated\ Files/

#RESHARPER
**/.DotSettings

##### Frontend ######

# dependencies
**//node_modules
**//.pnp
**/.pnp.js

# testing
**//coverage

# production
**//build

# misc
**/.DS_Store
**/.env
**/.env.local
**/.env.development
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/generate-react-cli.json
**/package-lock.json
**/yarn.lock
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

**/cms/data/images/*
src/staging/package-lock.json

# Don't ignore .s2i bin
!**/.s2i/bin/