@import "../variables.scss";

.expand-icon {
  .open {
    font-size: 1rem;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: 0.3s;
    padding-top: 2px;
  }

  .close {
    font-size: 1rem;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: 0.3s;
    padding-top: 5px;
  }
}

.expand-link.expand-icon,
.park-overview-link.expand-icon {
  display: inline-block;
  color: $colorBlueMed !important;
  text-decoration: none !important;
  cursor: pointer;
  margin-bottom: 16px;
  &:hover, &:focus-visible {
    color: $colorBlue !important;
    text-decoration: underline !important;
  }
  &:focus-visible {
    border-radius: 4px;
    border: $colorWhite solid 2px;
    outline: $colorBlueMed solid 2px;
    outline-offset: 0px;
  }
  svg {
    width: 16px;
    height: 16px;
  }
}

.park-overview-link.expand-icon {
  margin-top: 16px;
}

.discpver-parks {
  &__col {
    display: block;
    @media (min-width: $smBreakpoint) {
      display: flex;
    }
    &--left {
      min-width: 150px;
      display: flex;
      justify-content: center;
      margin: 0 0 16px 0;
      @media (min-width: $smBreakpoint) {
        display: block;
        margin: 0 16px 0 0;
      }
    }
  }
  .discover-parks-logo {
    width: 150px;
    height: auto;
    object-fit: contain;
  }
}