:3000 {
    try_files {path} /

    header /js/* Cache-Control "no-store, must-revalidate, no-cache, max-age=0, private"
    header /static/* Cache-Control "no-store, must-revalidate, no-cache, max-age=0, private"

    encode gzip

    root * /usr/share/caddy

    file_server

    log {
        output stdout
        format console
    }
}

