@import "../variables.scss";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

/* ---------------- HEADER ----------------- */

/* header */
.header-wrapper {
  width: 100%;
  background: $colorBlue;

  .header-nav {
    height: 96px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-up(lg) {
      max-width: 1060px;
      margin: 0px auto;
      padding: 0px 16px;
    }
    @include media-breakpoint-down(md) {
      margin: 0px;
      padding: 0px 30px;
    }

    a {
      display: block;
      text-decoration: none;
    }
  }
}

a.btn.book-campsite-btn {
  color: $colorBlue;
  background-color: $colorWhite;
  border: $colorWhite solid 2px;
  &:hover, &:focus-visible {
    background-color: $colorGold;
  }
  &:hover {
    border: $colorGold solid 2px;
  }
  @include media-breakpoint-down(md) {
    margin-right: 40px;
  }
}

/* TODO scope these properly: */

nav {
  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a {
    display: block;
    text-decoration: none;
  }
}

/* -------------------- START MOBILE STYLING ----------------- */
@include media-breakpoint-down(md) {
  .menu-toggle {
    position: absolute;
    top: 30px;
    right: 30px;
    color: $colorWhite;
    font-size: 1.5rem;

    .menu-open {
      display: block;
    }
    .menu-close {
      display: none;
    }

    &.menu-toggle--open {
      .menu-open {
        display: none;
      }
      .menu-close {
        display: block;
      }
    }
  }

  .mega-menu.menu-mode--responsive.menu-open {
    height: 100vh;
  }
  .mega-menu.menu-mode--responsive.menu-closed {
    height: 0px;
    box-shadow: none;
    border-bottom: none;
  }
  .mega-menu.menu-mode--responsive {
    overflow: hidden;
    transition: height 0.5s;
    width: 100%;
    background: $colorWhite;
    top: 96px;
    position: absolute;
    z-index: 1300;
    border-bottom: solid 2px #aaa;
    box-shadow: 0px 5px 3px 3px rgba(0, 0, 0, 0.3);

    .menu-button {
      
      width: 100%;
      transition: background-color 0.1s;
      cursor: pointer;
      border-bottom: 1px solid #ccc;
      color: $colorGreyMed;

      .menu-button__title {
        color: $colorBlue;
        width: 100%;
        padding: 8px 20px;
        display: block;
        line-height: 40px;
        &--icon {
          width: 1rem;
          height: 1rem;
          font-size: 1rem;
          margin: 0 0 2px 8px;
        }
      }
      .menu-button__arr {
        float: right;
        line-height: 40px;
      }
    }
    .menu-button.menu-back {
      .menu-button__arr {
        float: left;
        margin-right: 8px;
      }
    }
    .menu-button-list {
      width: 100%;
    }

    .menu-level--0 > ul.menu-button-list {
      & > .menu-back {
        display: none;
      }
      & > .menu-header {
        display: none;
      }
    }
    .menu-header {
      border-left: 10px solid $colorGold;
      padding-left: 10px;
      background: #eee;
      a {
        font-size: 1.2rem;
        font-weight: 700;
      }
    }
    .menu-wrapper {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      transition: left 0.3s;

      .menu-children {
        width: 100%;
        position: absolute;
        top: 0px;
      }
    }
    &.menu-selected-level-0 .menu-wrapper {
      left: 0%;
    }
    &.menu-selected-level-1 .menu-wrapper {
      left: -100%;
    }
    &.menu-selected-level-2 .menu-wrapper {
      left: -200%;
    }
    .menu-level-0-children {
      left: 100%;
    }
    .menu-level-1-children {
      left: 100%;
    }
    .menu-children--unselected {
      display: none;
    }
    .menu-children-exist--false {
      display: none;
    }
  }
}
.mega-menu-wrapper {
  position: relative;
}

/* -------------------- START DESKTOP STYLING ----------------- */

@include media-breakpoint-up(lg) {
  .menu-toggle {
    display: none;
  }
  .menu-back {
    display: none;
  }

  .mega-menu.menu-mode--responsive {
    width: 100%;
    background: $colorBlueMed;
    color: $colorWhite;

    a:hover {
      text-decoration: none;
    }

    .menu-wrapper {
      max-width: 1060px;
      margin: 0px auto;
      position: relative;
      height: 65px;
    }

    .menu-level {
      width: 100%;
      display: flex;
    }

    .menu-level--0 {
      z-index: 5;

      .menu-button:hover {
        background-color: initial;
      }
      > .menu-button-list {
        display: flex;
        justify-content: space-between;
        height: 65px;
        margin: 0 auto;

        > li.menu-button {
          display: flex;
          align-items: center;
          &.menu-back {
            display: none;
          }
          &.menu-header {
            display: none;
          }
          .menu-button__title {
            padding: 0px 12px;
            color: #fff;
            font-size: 1rem;
            transition: background 0.2s, color 0.2s;
            position: relative;
            z-index: 1;
            line-height: normal;
            display: inline-block;
            text-align: center;
            &:hover, &:focus-visible {
              text-decoration: underline;
              background-color: transparent;
            }
            &.has-children {
              padding-right: 28px;
              &::after {
                content: "\f078";
                display: inline-block;
                position: absolute;
                top: calc(50% - 4px);
                right: 12px;
                font-weight: 900;
                font-size: 0.5rem;
                font-style: normal;
                font-variant: normal;
                font-family: "Font Awesome 5 Free";
                text-rendering: auto;
                text-decoration: none;
                -webkit-font-smoothing: antialiased;
                rotate: 0deg;
                transition: rotate 0.5s;
              }
            }
          }
        }
        li.menu-button--selected {
          background: $colorWhite;
          border-bottom: 1px solid $colorGold;

          .menu-button__title {
            color: $colorBlue;
            .menu-button__arr {
              rotate: 270deg;
            }
            &.has-children {
              &::after {
                rotate: 180deg;
                transition: rotate 0.5s;
              }
            }
          }
        }
      }
    }

    .menu-level-0-children {
      padding: 20px 40px 10px 40px;
      width: 100%;
      background: $colorWhite;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      position: absolute;
      top: 65px;
      left: 0px;
      z-index: 1300;
      display: flex;
      font-size: 1rem;

      > .menu-level {
        width: 35%;
      }
      > .menu-children {
        width: 35%;
      }
    }
    .menu-level-0-children.menu-children--unselected {
      transition: opacity 0.3s, min-height 0.9s;
      opacity: 0;
      min-height: 0px;
      padding: 0px;
      display: block;
      nav,
      div {
        display: none;
      }
    }
    .menu-level-1-children.menu-children--selected {
      position: absolute;
      top: 20px;
      left: 400px;
    }
    .menu-children-exist--false {
      display: none;
    }

    .menu-level--1 {
      border-right: solid 2px rgba(0, 0, 0, 0.2);

      .menu-button--selected {
        border-left: solid 4px $colorGold;
        border-bottom: none !important;
        background-color: #eee !important;
      }
    }
    .menu-level--2 {
      padding-left: 10px;
      height: 400px;
      &.has-clicked-twice--true {
        display: none;
      }

      .menu-arrow {
        display: none;
      }
    }

    .menu-order,
    .menu-arrow,
    .menu-url,
    .menu-back {
      display: none;
    }
    .menu-level--0 > .menu-button {
      display: none;
    }
    .menu-children {
      transition: opacity 0.3s, min-height 0.3s;
      opacity: 1;
      min-height: 475px;
    }
    .menu-children--unselected {
      display: none;
    }
    .menu-button:hover {
      background-color: #eee;
    }
    .menu-level--0 {
      .menu-button__arr {
        display: none; // remove to enable top-level icons
        margin-left: 8px;
        transition: rotate 0.2s;
        rotate: 90deg;
        font-size: 0.625rem;
      }
    }
    .menu-level--1 {
      .menu-button__arr {
        display: inline-block;
        font-size: 1rem;
        rotate: 0deg !important;
      }
    }

    .menu-button {
      transition: background-color 0.3s;
      
      .menu-button__title {
        color: $colorBlue;
        display: block;
        width: 100%;
        padding: 8px 10px;
        &:hover, &:focus-visible {
          text-decoration: underline;
          background-color: $colorBackgroundGrey;
        }
        &:focus-visible {
          border: $colorWhite solid 2px;
          outline: $colorBlueMed solid 2px;
          outline-offset: 0px;
          border-radius: 4px;
        }

        .menu-button__arr {
          float: right;
          line-height: 22px;
          height: 22px;
        }
      }
      &.menu-header {
        .menu-button__title {
          position: relative;
          font-weight: bold;
          font-size: 1.25rem;
          margin-bottom: 4px;
          &::after {
            position: absolute;
            content: "";
            background-color: $colorGold;
            height: 2px;
            width: 50px;
            left: 10px;
            bottom: 0;
          }
          &--icon {
            width: 1rem;
            height: 1rem;
            font-size: 1rem;
            margin: 0 0 2px 8px;
          }
        }
      }
    }
    .menu-button-list {
      width: 100%;
    }
    .menu-arrow {
      color: $colorGreyMed;
      float: right;
      display: block;
    }
    .menu-children-exist--false {
      display: none;
    }
  }
  .menu-image {
    margin-left: auto;
    width: 30%;
    img {
      width: 100%;
      margin-top: 40px;
    }
  }
}
/* END DESKTOP */

/* SITEMAP */
.menu-toggle.menu-mode--sitemap {
  display: none;
}
.mega-menu-wrapper.menu-mode--sitemap {
  .header-wrapper {
    display: none;
  }
}
.mega-menu.menu-mode--sitemap {
  margin: 40px 0;
  .menu-level--0 {
    & > ul.menu-button-list {
      & > li.menu-button {
        &.menu-back,
        &.menu-header {
          display: none;
        }
        &.menu-button--unselected {
          display: none;
        }
      }
      .menu-level-0-children {
        & > nav > ul > li.menu-header {
          font-size: 1.5rem;
          font-weight: bold;
          margin-bottom: 16px;
          a {
            color: $colorBlue;
          }
        }
      }
    }
  }
  .menu-level--1 {
    .menu-button {
      display: none;
    }
    .menu-button.menu-header {
      display: block;
    }
    & > ul.menu-button-list {
      & > li.menu-header {
        font-size: 1.5rem;
        font-weight: bold;
        a {
          color: $colorBlue;
        }
      }
      .menu-level-1-children {
        & > nav > ul > li.menu-button {
          &.menu-header {
            font-size: 1.25rem;
            font-weight: bold;
            margin: 16px 0 16px 64px;
          }
        }
      }
    }
  }
  .menu-level-2-children {
    padding-left: 128px;
  }
  svg.menu-button__title--icon {
    display: none;
  }
}
