 DRY_RUN=true
 NUM_RELEASES_TO_KEEP=10
 IMAGESTREAMS_TO_CLEAN=admin-alpha,admin-main,etl-alpha,etl-main,maintenance-alpha,maintenance-main,public-builder-alpha,public-builder-main,strapi-alpha,strapi-main,scheduler-main,scheduler-alpha
 IMAGETAGS_TO_KEEP=latest,dev,test,prod
