.bcgov-normal-blue {
  color: white;
  font-weight: 700;
  font-style: normal;
  background-color: var(--color-blue) !important;
}

.bcgov-normal-blue:hover {
  color: white;
  background-color: var(--color-med-blue) !important;
}

.bcgov-normal-white {
  color: var(--color-blue) !important;
  border: 1px solid var(--color-blue) !important;
}

.bcgov-normal-white:hover {
  box-sizing: border-box;
  background-color: var(--color-light-blue) !important;
}

.bcgov-consistent-width {
  width: 270px;
}

.bcgov-button {
  min-width: 150px;
  min-height: 48px;
}

@media (max-width: 575.98px) {
  .bcgov-button {
    min-width: 0px;
    min-height: 0px;
  }
}

.bcgov-loader-show {
  display: inline-block;
}
