.low {
  border-left: 5px solid #2454a4;
  text-align: left;
}

.medium {
  border-left: 5px solid #f5d20e;
  text-align: left;
}

.high {
  border-left: 5px solid #f30505;
  text-align: left;
}

.advisory-status
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 0.5rem;
  font-size: .7rem;
  font-weight: bold;
}

.revisionIcon {
  color: gray;
  font-size: 14px;
}

.draftIcon
{
  color:#4989C5; 
}

.approvedIcon
{
  color:#4989C5 
}

.publishedIcon
{
  color:#4989C5 
}
.approvalRequestedIcon
{
  color:#EE5F3B; 
}
.inactiveIcon
{
  color:#bdd9ed; 
}
.archivedIcon
{
  color:#bdd9ed; 
}

.warningRoundedIcon {
  color: gray;
}

.urgency-column{
  padding-left:10px;
  width:2px;
}

.page-loader {
  padding-top: 2% !important;
  text-align: center !important;
}
  
.MuiChip-root {
  margin-right: 4px;
  margin-left: 4px;
}
