.navbar > .container-fluid {
  width: 95% !important;
  justify-content: inherit !important;
  padding: 0px !important;
}

.navbar {
  min-height: 130px !important;
}

.pointer {
  cursor: pointer;
}

.img-fluid {
  padding-top: 15px !important;
}

.nav-box {
  display: flex !important;
}

.nav-title {
  margin-top: auto !important;
  margin-bottom: -15px !important;
  font-size: 30px !important;
  margin-left: 20px !important;
}

@media (max-width: 575.98px) {
  .navbar > .container-fluid {
    display: block !important;
    flex-flow: row nowrap !important;
    justify-content: flex-start !important;
  }
  .nav-box {
    display: block !important;
    text-align: center !important;
  }
  .nav-link {
    padding: 0px !important;
  }
  .nav-title {
    font-size: 20px !important;
    display: block !important;
    margin: 0px !important;
    padding-top: 15px !important;
  }
}
