.navbar > .container-fluid {
  width: 95% !important;
  justify-content: space-between !important;
  padding: 0px !important;
}

.navbar {
  min-height: 120px !important;
}

.navbar-brand {
  display: flex !important;
  align-items: baseline;
  margin: 0px !important;
  padding: 0px !important;
}

.pointer {
  cursor: pointer;
}

.nav-title {
  font-size: 30px !important;
  margin-left: 32px !important;
}

@media (max-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  .navbar {
    min-height: 80px !important;
  }

  .navbar-brand {
    align-items: center;
  }

  .nav-title {
    font-size: 20px !important;
    margin-left: 16px !important;
  }
}