@import "../variables.scss";

.page-menu--desktop {
  padding-right: 20px;
  font-size: 0.875rem;
  padding-left: 0px;
  margin-bottom: 80px;

  align-self: flex-start;
  top: 0px;
  position: sticky;
  position: -webkit-sticky;

  .navbar {
    padding: 0;
  }

  a {
    width: 100%;
    color: $colorBlueMed;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 0px;
    margin-top: 15px;
    padding: 6px 12px;
    &:hover, &:focus-visible {
      color: $colorBlue;
      text-decoration: underline;
    }
    &:focus-visible {
      border: $colorWhite solid 2px;
      outline: $colorBlueMed solid 2px;
      outline-offset: 0px;
      border-radius: 4px;
    }
    &:first-of-type {
      margin-top: 64px;
    }
  }
}
.page-menu--desktop[section-count="1"] {
  display: none;
}
.page-menu--desktop [active-section="true"] {
  color: $colorBlue;
  font-weight: bold;
  box-sizing: border-box;
  border-left: $colorBlue solid 3px;
}
.page-menu--mobile {
  padding: 0 16px;
  .section-list-container {
    padding-top: 64px;
    p {
      font-size: 1.25rem;
    }
    ul {
      margin-bottom: 0;
      li {
        & + li {
          margin-top: 8px;
        }
        a {
          text-decoration: underline;
          &:focus-visible {
            color: $colorBlue;
            border-radius: 4px;
            border: $colorWhite solid 2px;
            outline: $colorBlueMed solid 2px;
            outline-offset: 0px;
          }
        }
      }
    }
  }
}
