main {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 100vh;
  position: relative;
}

.page {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.content {
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

.sidecard {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.bcgov-normal-blue {
  color: white !important;
  font-weight: 700 !important;
  font-style: normal !important;
  background-color: #003366 !important;
}

.bcgov-normal-blue:hover {
  background-color: rgba(43, 91, 164, 1) !important;
  color: white !important;
}

.bcgov-normal-white {
  color: #003366 !important;
  background-color: white !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgba(204, 204, 204, 1) !important;
}

.bcgov-normal-white:hover {
  box-sizing: border-box !important;
  border-width: 1px !important;
  border-style: solid !important;
  background-color: rgba(242, 242, 242, 1) !important;
  border-color: rgba(204, 204, 204, 1) !important;
}

.img-fluid.d-md-none.bcgov-pointer {
  width: 181px !important;
}

.navbar-brand.bcgov-pointer {
  width: 100% !important;
}

.bcgov-pointer.navbar-brand.nav-item.nav-link {
  display: none;
}

.bcgov-header .navbar {
  flex-flow: row nowrap !important;
  justify-content: flex-start !important;
  padding: 30px 0px !important;
}

.bcgov-button {
  min-width: 120px !important;
}
.btn {
  border-radius: 5px !important;
}
.bcgov-editable-white,
.bcgov-text-input,
.bcgov-dropdown {
  background: #e3eaf8 0% 0% no-repeat padding-box !important;
  opacity: 1 !important;
  color: #003366 !important;
  padding: 10px !important;
  border: none !important;
  width: 100% !important;
  margin: 0px !important;
  border-radius: 2px !important;
}

.bcgov-dropdown-wrapper {
  width: 100% !important;
}

.bcgov-normal-yellow {
  background: #e3a82b 0% 0% no-repeat padding-box !important;
  opacity: 1 !important;
}

.bcgov-dropdown {
  width: 100% !important;
  padding: 8px 45px 8px 15px !important;
}

@media (max-width: 575.98px) {
  .page {
    flex-direction: column;
  }
}

@media (min-width: 576px) {
  footer {
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
  }
  .page {
    padding-bottom: 100px;
  }
}

@media print {
  body {
    visibility: hidden;
  }

  .print {
    width: 100%;
    visibility: visible;
    margin-left: 1cm;
  }
}
