.launchIcon,
.ad-copy .MuiChip-icon {
  width: 20px !important;
  height: 20px !important;
  margin-top: -2px !important;
  color: #234075 !important;
}

.MuiChip-root {
  border-radius: 5px !important;
}

.launchIcon:hover,
.ad-anchor:hover,
.ad-copy:hover {
  color: #0592d3 !important;
}

.ad-anchor {
  text-decoration: none !important;
  color: #234075 !important;
}

.ad-summary .row {
  margin: 5px 0px !important;
}

.ad-right {
  text-align: right !important;
}
