.ad-copy {
  border-radius: 5px !important;
  margin: 16px 0 !important;
}

.launchIcon,
.ad-copy .MuiChip-icon {
  width: 20px !important;
  height: 20px !important;
  margin-top: -2px !important;
}

.launchIcon {
  margin-left: 8px;
}

.ad-copy .MuiChip-icon {
  color: var(--color-blue) !important;
}

.ad-summary .row {
  margin: 5px 0px !important;
}

.ad-right {
  text-align: right !important;
}
