.account-info-box {
  text-align: right !important;
  color: #fff !important;
}

.account-info-box p {
  margin-bottom: 5px !important;
  font-size: 14px !important;
}

.account-info-box button {
  min-width: auto;
  min-height: auto;
  color: #fff !important;
  padding: 0px !important;
  text-align: right !important;
  font-size: 14px !important;
}

.account-info-box button,
.account-info-box button:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
