STRAPI_BASE_URL=http://127.0.0.1:1337
PUBLIC_URL=http://127.0.0.1:8000
ADMIN_URL=http://localhost:3000
ELASTIC_HOST=http://127.0.0.1:9200
GEOSHAPE_URL="https://openmaps.gov.bc.ca/geo/pub/ows?service=WFS&version=2.0.0&request=GetFeature&typeName={1}&outputFormat=json&CQL_FILTER=ORCS_PRIMARY%3D%27{0}%27&SrsName=EPSG%3A4326"
# ELASTIC_USERNAME="elastic"
# ELASTIC_PASSWORD="<enter-es-password-here>"
ELASTIC_PARK_INDEX_NAME=bcparks-protected-areas
BCPARKS_ENVIRONMENT=local
STRAPI_API_TOKEN="<you can use the same token as you used for STRAPI_TOKEN in gatsby/.env>"
BATCH_SIZE=50

EMAIL_ENABLED=true
EMAIL_SERVER=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_PORT=25
EMAIL_SENDER=parksweb@gov.bc.ca
EMAIL_RECIPIENT=
