body {
    font-family: BCSans, Verdana, Arial, "sans-serif"  !important;
}

.anchor-linkx {
    margin-top: -90px;
    padding-top: 90px;
}

.heading {
    color: #38598a;
}

#park-activity-container .MuiAccordion-root, #park-facility-container .MuiAccordion-root  {
    background-color: #eef1f5;
}

#park-menu-container {
    z-index: 1 !important;
}

#park-menu-container .MuiListItem-button {
    padding: 2px;
}

#park-menu-container a {
    color: #00008a;
    padding: 5px 0px 5px 8px;
    border-left: 3px solid transparent;
  }

#park-menu-container .isCurrent a {
    font-weight: bold;
    box-sizing: border-box;
    padding: 0px 0px 0px 8px;
    border-left-color: #38598a;
  }

.park-status-top-grid {
    background-color: "#e1ecf4"
}
.park-details-shaded {
    background-color: #eef1f5 !important;
}

.MuiTypography-root, .MuiButton-root {
    font-family: BCSans, Verdana, Arial, "sans-serif"  !important;
}

.MuiButton-root, .MuiLink-root {
    border:none  !important;
    outline:none  !important;
}

.yellow-alert {
    background-color: #fff3d6 !important;
}

.red-alert {
    background-color: #fbe5e6 !important;
}

.blue-alert {
    background-color: #eef1f5 !important;
}

.nested-list, .nested-list .MuiTypography-root{
    padding-left:20px;
    font-size:smaller !important;
    list-style-type: circle !important;
}

.blue-button {
    color: #ffffff !important; 
    background-color: #38598a !important;
    width: 150px !important;
    white-space: nowrap;
    margin: 6px;
}

.yellow-button {
    color: #003366 !important;
    background-color: #fcba19 !important;
    width: 150px !important;
    white-space: nowrap;
}

.raw-html-content a {
    display: flex;
    white-space: nowrap;
}

.raw-html-content li {
    display: list-item !important;
    margin-left: 16px;
}

.park-page-footer {
    z-index: 10 !important;
}