body {
    font-family: BCSans, Verdana, Arial, "sans-serif"  !important;
    background-color: #f5f5f7;
}

a {
    color: #003366;
}

a:link {
    text-decoration: none;
}

:target {
    margin-top: -200px;
    padding-top: 200px;
}

.anchor-link {
    margin-top: -112px;
    padding-top: 112px;
}

.heading {
    color: #003366;
}

#park-activity-container .MuiAccordion-root, #park-facility-container .MuiAccordion-root  {
    background-color: #eef1f5;
}

#park-photo-carousel-container{
    max-height:300px;
    overflow: hidden;
}

#park-header-container {
    max-height:200px;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
}

#park-header-container h1 {
    position: absolute;
    top: 50%;
    left: 25%;
    z-index: 100;
}

.park-details-shaded{
    background-color: #eef1f5 !important;
}

.MuiTypography-root, .MuiButton-root {
    font-family: BCSans, Verdana, Arial, "sans-serif"  !important;
}

#park-overview-container .MuiButton-root, 
#park-advisory-details-container .MuiButton-root,
#park-facility-container .MuiButton-root,
#park-menu-container .MuiButton-root,
#park-camping-details-container .MuiButton-root,
#park-activity-container .MuiButton-root {
    border:none  !important;
    outline:none  !important;
}

.yellow-alert {
    background-color: #fff8e8 !important;
}

.red-alert {
    background-color: #fbe9ea !important;
}

.blue-alert {
    background-color: #5bc0de !important;
}