.form-home {
  display: flex;
}

.hm-container {
  text-align: center !important;
  align-items: center !important;
  padding: 30px;
}

.hm-row div,
.hm-row button {
  width: 100% !important;
}

.hm-row div input {
  text-align: center !important;
}
