.MuiTable-root {
    width:100% !important;
  }
  
  .MuiTableCell-root {
    padding: 2px !important;
  }
  
  .MuiTableCell-root input {
    background-color:#f0f2f5;
    padding: 2px !important;
    margin: 2px 0px 2px 0px !important;
  }
  
  .MuiTablePagination-input {
    padding-right: 5px !important;
  }

.MuiTableRow-head th {
    background-color: #f0f2f5 !important;
    font-weight: bold;
    padding: 2px !important;
    margin: 2px 0px 2px 0px !important;
    z-Index: 0
}

.MuiToolbar-root {
    padding: 2px;
    margin:2px;
}

.MuiToolbar-gutters h6 {
    font-weight: bold;
    font-size:xx-large;
}

.MuiTableRow-root:hover { 
    background: #f6f8fa !important 
}