.data-table .MuiTable-root {
  width: 100% !important;
}

.data-table .MuiTableCell-root {
  padding: 2px !important;
}

.data-table .MuiTableCell-root .MuiTextField-root {
  width: 100%;
}

.data-table .MuiTableCell-root input,
.data-table .MuiTableCell-root .MuiInput-input {
  height: 32px;
  color: var(--color-blue);
  background-color: #f0f2f5;
  font-size: 0.875rem;
  line-height: 2rem;
  margin: 2px 0px 2px 0px !important;
  padding: 2px !important;
}

.data-table .MuiTableCell-root .MuiSelect-root {
  padding-right: 24px !important;
}

.data-table .MuiTablePagination-input {
  padding-right: 5px !important;
}

.data-table .MuiTableRow-head th {
  background-color: #f0f2f5 !important;
  font-weight: bold;
  padding: 2px !important;
  margin: 2px 0px 2px 0px !important;
  z-index: 0;
}

.data-table .MuiToolbar-root {
  padding: 2px;
  margin: 2px;
}

.data-table .MuiToolbar-gutters h6 {
  font-weight: bold;
  font-size: xx-large;
}

.data-table .MuiTableRow-root:hover {
  background: #f6f8fa !important;
}
