@import "../variables.scss";

.advisoryCard {
  color: $colorBlack;
  background: $colorGreyLight;
  border-radius: 4px !important;
}

.cardTitle {
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  margin-bottom: 8px;
}

.parkLink {
  font-size: 0.9rem;
  min-height: 30px;
  font-weight: 200;
  display: inline-flex;
  align-items: center;
  white-space: pre-line;
  border: solid 1px $colorBlue;
}

.dateBanner {
  border: transparent;
  border-radius: 4px 4px 0px 0px;
  color: #fff
}

.dateArea {
  padding-left: 1.15rem;
  display: inline-flex;
}

.dateCircle {
  background: #656565;
  color: #fff;
  width: 7.5rem;
  height: 7.5rem;
  padding-top: 1.15rem;
  border-radius: 50%;
  text-align: center;
  &.yellowAlert {
    color: $colorText;
  }
}

.dateDate {
    font-size: 2.5rem;
    line-height: 3.2rem;
}

.dateMonth {
    font-size: 1.25rem;
    line-height: 1.05rem;
}

.dateUnknown {
    font-size: 1.25rem;
    line-height: 5rem;
}

.blueAlert {
  background: #2464a4;
}

.redAlert {
  background: #d8292f;
}

.yellowAlert {
  background: #fcba19;
}

.contentArea {
  flex-direction: column;
}

.detailsArea {
  border: solid transparent !important;
  background: #f2f2f2 !important;
  a {
    color: $colorBlue;
  }
}

.yearHeader{
  font-size: 2rem;
}

.badge-light {
  color: $colorBlue;
  background-color: transparent;
  &:hover {
    color: $colorBlue !important;
    text-decoration: underline !important;
  }
}

.badge-primary {
  color: $colorWhite !important;
  background-color: $colorBlue;
  &:hover {
    background-color: $colorBlue !important;
  }
}

.btn-link {
  color: $colorBlue;
  padding: 0;
  &:hover, &:focus {
    color: $colorBlue !important;
  }
  &:focus {
    box-shadow: none !important;
  }
}