@import "../variables.scss";

.advisory-card {
  color: $colorGrey;
  background: $colorBrownLight;
  flex-wrap: nowrap;
  margin-bottom: 16px;
  padding: 16px;
  @media (min-width: $smBreakpoint) {
    padding: 32px;
  }

  &--left {
    img.icon {
      height: 36px;
      width: 36px;
    }
  }

  &--right {
    padding-left: 16px !important;
    @media (min-width: $smBreakpoint) {
      padding-left: 32px !important;
    }

    h3.title {
      max-width: 600px;
      line-height: 1.5;
    }

    .card-content {
      max-width: 600px;
      margin-left: -48px;
      @media (min-width: $smBreakpoint) {
        margin-left: 0;
      }

      &--bottom {
        display: block;
        margin-top: 8px;
        @media (min-width: $smBreakpoint) {
          display: flex;
        }
      }
    }
  }
}

.park-link {
  min-width: fit-content;
  width: fit-content;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  white-space: normal;
  border: solid 1px $colorBlue;
  margin: 0 16px 16px 0;
  padding: 3px 8px;
}

.badge-secondary-light {
  color: $colorBlue !important;
  background-color: transparent;
}

.badge-light {
  color: $colorBlue;
  background-color: transparent;
  &:hover {
    color: $colorBlue !important;
    text-decoration: underline !important;
  }
}

.badge-primary {
  color: $colorWhite !important;
  background-color: $colorBlue;
  &:hover {
    background-color: $colorBlue !important;
  }
}

.btn-link {
  margin-bottom: 8px;
  padding: 0;
  &:hover, &:focus {
    color: $colorBlue !important;
  }
  &:focus {
    box-shadow: none !important;
  }
}