@import "../variables.scss";

.advisoryCard {
  color: $colorGrey;
  background: $colorBackgroundGrey;
  border-radius: 4px !important;
}

.cardTitle {
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  margin-bottom: 8px;
}

.parkLink {
  min-height: 32px;
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  white-space: pre-line;
  border: solid 1px $colorBlue;
}

.dateBanner {
  border: transparent;
  border-radius: 4px 4px 0px 0px;
  color: #fff
}

.dateArea {
  padding-left: 1.15rem;
  display: inline-flex;
}

.dateCircle {
  background: $colorGreyMed;
  color: #fff;
  width: 7.5rem;
  height: 7.5rem;
  padding-top: 1.15rem;
  border-radius: 50%;
  text-align: center;
  &.yellowAlert {
    color: $colorGrey;
  }
}

.dateDate {
    font-size: 2.5rem;
    line-height: 3.2rem;
}

.dateMonth {
    font-size: 1.25rem;
    line-height: 1.05rem;
}

.dateUnknown {
    font-size: 1.25rem;
    line-height: 5rem;
}

.blueAlert {
  background: $colorBlueMed;
}

.redAlert {
  background: $colorRed;
}

.yellowAlert {
  background: $colorGold;
}

.contentArea {
  flex-direction: column;
}

.detailsArea {
  border: solid transparent !important;
  background: $colorBackgroundGrey !important;
  a {
    color: $colorBlue;
    margin-top: 8px;
  }
}

.yearHeader{
  font-size: 2rem;
}

.badge-secondary-light {
  color: $colorBlue !important;
  background-color: transparent;
}

.badge-light {
  color: $colorBlue;
  background-color: transparent;
  &:hover {
    color: $colorBlue !important;
    text-decoration: underline !important;
  }
}

.badge-primary {
  color: $colorWhite !important;
  background-color: $colorBlue;
  &:hover {
    background-color: $colorBlue !important;
  }
}

.btn-link {
  color: $colorBlue;
  margin-bottom: 8px;
  padding: 0;
  &:hover, &:focus {
    color: $colorBlue !important;
  }
  &:focus {
    box-shadow: none !important;
  }
}