@import "../variables.scss";

.advisory-card {
  color: $colorGrey;
  background: $colorBrownLight;
  margin-bottom: 16px;
  padding: 16px;
  @media (min-width: $smBreakpoint) {
    padding: 32px;
  }

  &--left {
    img.icon {
      height: 36px;
      width: 36px;
    }
  }

  &--right {
    padding-left: 16px !important;
    @media (min-width: $smBreakpoint) {
      padding-left: 32px !important;
    }

    h3.title {
      max-width: 600px;
    }

    .card-content {
      max-width: 600px;
      margin-left: -48px;
      @media (min-width: $smBreakpoint) {
        margin-left: 0;
      }

      &--bottom {
        display: block;
        margin-top: 8px;
        @media (min-width: $smBreakpoint) {
          display: flex;
        }

        .date, .type {
          display: flex;
          small {
            color: $colorGreyMed;
            &:first-of-type {
              text-wrap: nowrap;
            }
            + small {
              margin-left: 8px;
            }
          }
        }
        .type {
          margin-left: 0;
          @media (min-width: $smBreakpoint) {
            margin-left: 16px;
          }
        }
      }
    }
  }
}

.parkLink {
  min-height: 32px;
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  white-space: pre-line;
  border: solid 1px $colorBlue;
}

.badge-secondary-light {
  color: $colorBlue !important;
  background-color: transparent;
}

.badge-light {
  color: $colorBlue;
  background-color: transparent;
  &:hover {
    color: $colorBlue !important;
    text-decoration: underline !important;
  }
}

.badge-primary {
  color: $colorWhite !important;
  background-color: $colorBlue;
  &:hover {
    background-color: $colorBlue !important;
  }
}

.btn-link {
  color: $colorBlue;
  margin-bottom: 8px;
  padding: 0;
  &:hover, &:focus {
    color: $colorBlue !important;
  }
  &:focus {
    box-shadow: none !important;
  }
}