@import "../variables.scss";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.advisory-filter-container {
  @include media-breakpoint-up(md) {
    background: $colorBackgroundGrey;
    padding: 1rem;
    margin: 0;
  }

  .MuiInputBase-root {
    background: $colorWhite;
    .MuiOutlinedInput-notchedOutline {
      border-color: $colorGreyMed;
    }
  }
  // required for accessibility
  .MuiInputBase-input:focus,
  .MuiInputBase-input:focus-visible {
    outline: unset !important;
  }
}
