@import "../variables.scss";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.advisory-legend {
  .advisory-legend-item {
    display: flex;
    background-color: $colorBackgroundGrey;
    margin: 2px;
    padding: 8px 12px;
    @include media-breakpoint-up(md) {
      height: 100%;
    }

    .advisory-status-icon{
      width: 2rem;
      height: 2rem;
    }
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
