.expand-button{
  background: transparent;
  border: none;

  &:hover{
    background-color: #e7ebf2 ;
    color: #3f51b5;
  }

  &:active{
    background-color: #d7dee8 !important;
    color: #3f51b5 !important;
  }

  &:focus{
    border:none !important;
    box-shadow: none !important;
  }
}

.small {
  width: 25px;
  height: 25px;
  border-radius: 4px;
}

.accordion-toggle {
  cursor: pointer;
}
