@import "../variables.scss";

.date, .type {
  display: flex;
  small {
    color: $colorGreyMed;
    &:first-of-type {
      text-wrap: nowrap;
    }
    + small {
      margin-left: 8px;
    }
  }
}
.date {
  margin-right: 0;
  @media (min-width: $smBreakpoint) {
    margin-right: 16px;
  }
}