@import "./global.scss";

$header-height: 100px;
$footer-height: 413px;

h1{
  font-weight: 100;
}

.btn-outline-primary{
  border: none !important;
  justify-content: left !important;
}

.thumb-link{
  color: white !important;
}

.not-found{
  min-height: 100vh;
  background-color: $colorBlue;
  color:white;
  margin-bottom: 0px;
}

.not-found-container{
  min-height: calc(100vh - $footer-height - $header-height);
}

.footer{
  position: relative;
  bottom: 0;
}

.home-button{
  font-weight: bold;
  color:$colorBlue;
  background-color: white;
}

