$colorGold: #fcba19;
$colorWhite: #fff;
$colorWhiteOpacity: #ffffff90;
$colorGrey: #eef1f5;
$colorBlue: #003366;
$colorBlueMed: #2464a4;
$desktopBreakpoint: 576px;
$globalFont: "BCSans", Verdana, Arial, sans serif;

html {
  background-color: white;
  font-family: $globalFont !important;
}

.bc-bg-yellow {
  background: $colorGold;
}
.bc-color-yellow {
  color: $colorGold;
}
.bc-color-white {
  color: $colorWhite;
}
.bc-color-blue-dk {
  color: $colorBlue;
}
.bc-bg-blue-dk {
  background: $colorBlue;
}
.bc-bg-blue-md {
  background: $colorBlueMed;
}

head,
script,
style {
  display: none !important;
}

.line {
  background-color: $colorGold;
  height: 2px;
}

#header {
  width: 100%;
  padding-top: 5px;
  overflow: visible;
  background-color: $colorBlue;
  > .navbar {
    z-index: 1300;
  }
}

.navbar-nav {
  flex-direction: unset !important;
}

#main {
  box-sizing: border-box;
  z-index: 2;
  width: 100%;
  padding: 0;
  text-align: left;
}

#bc-parks-logo {
  margin-bottom: 0.5rem !important;
  a img {
    max-height: 36px;
    max-width: 121px;
  }

  @media screen and (min-width: $desktopBreakpoint) {
    padding-left: 5vw;
    a img {
      max-height: unset;
      max-width: unset;
    }
  }
}

/** Overrides CKEditor <p> wrapper element that has margin bottom */
.no-mb {
  margin-bottom: 0px !important;
}

.book-campsite {
  height: 35px;
  background-color: $colorGold;
  border-radius: 40px;
  width: 189px;
}

.book-campsite-inner {
  color: $colorBlue;
  font-size: 14px;

  @media screen and (min-width: $desktopBreakpoint) {
    top: unset;
  }
}

.book-campsite-nav {
  margin-top: 15px;
  margin-bottom: 10px;
}

.book-campsite-outer {
  @media screen and (min-width: $desktopBreakpoint) {
    padding-right: 5vw;
  }
}

.book-campsite-logo {
  transform: scale(0.7);
}

#home-header {
  .nav-item:not(:last-child) {
    border-bottom: 1px solid white;
  }
  .header-search-group {
    background-color: #7a94a5;
    border-top-left-radius: 50em !important;
    border-bottom-left-radius: 50em !important;
    > .form-control {
      background-color: #7a94a5 !important;
    }
  }
}

#home-alert span {
  font-size: 14px !important;
}

#home-menu {
  background-color: #255a8b;
  > div {
    padding-left: 6vw;
  }
  nav .nav-item {
    color: $colorWhite;
  }
  .nav-item:not(:last-child) {
    border-right: 1px solid $colorWhite;
  }
}

img.alert-exclamation {
  transform: scale(0.8);
}

.nav-menu-links .nav-item:not(:last-child) {
  border-right: 1px solid $colorWhite;
}

.footing-hr {
  height: 30px;
}

li.post-separator {
  margin-top: -15px;
}

.footing-hr {
  height: 1px;
  background-color: rgba(252, 186, 25, 1);
  width: 30px;
  display: inline-block;
}

/* TODO are any of these alert styles used? */
.alert-content,
.alert {
  margin-bottom: 0 !important;
}

.alert-content {
  font-size: 14px;
}

.alert-warning {
  background-color: #ffdd8b !important;
}

.hidden {
  display: none;
}

/* Breadcrumbs */

.bcp-breadcrumbs {
  ol {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    list-style: none;
  }

  a {
    display: block;
    text-decoration: none;
  }

  .bcp-breadcrumbs__separator {
    color: $colorGold;
    margin-left: 8px;
    margin-right: 8px;
    position: relative;

    &::before {
      content: "\f054";
      display: inline-block;
      font-family: "Font Awesome 5 Free";
      font-style: normal;
      font-variant: normal;
      font-weight: 900;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }
  }
}

/* full width youtube for cms content */

.cms-youtube-full-width {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
}

.cms-youtube-full-width {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
