html {
  background-color: white;
  font-family: BCSans, Verdana, Arial, sans serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  display: block;
}

.inner {
  max-width: 100%;
  width: 100%;
  margin: auto;
  height: 120px;
}

.line {
  background-color: rgba(252, 186, 25, 1);
  height: 2px;
}

#header {
  width: 100%;
  padding-top: 5px;
  overflow: visible;
  background-color: #036;
  z-index: 100;
  height: 67px;
}

.navbar-nav {
  flex-direction: unset !important;
}

#main {
  box-sizing: border-box;
  z-index: 2;
  width: 100%;
  padding: 0;
  text-align: left;
}

#bc-parks-logo a img {
  max-height: 36px;
  max-width: 121px;
}

.alert-banner {
  background-color: rgba(255, 221, 139, 1);
}

/** Overrides CKEditor <p> wrapper element that has margin bottom */
.no-mb {
  margin-bottom: 0px !important;
}

#book-campsite {
  height: 35px;
  background-color: #fcba19;
  border-radius: 40px;
  width: 189px;
}

.book-campsite-inner {
  position: absolute;
  top: 310px;
  color: #003366;
  font-size: 14px;
}

.book-campsite-nav {
  margin-top: 15px;
  margin-bottom: 10px;
}

#book-campsite-logo {
  transform: scale(0.7);
}

.zone-cards .card-text {
  line-height: normal !important;
}

.footer-left-links {
  padding-left: 40px !important;
}

#home-header .nav-item:not(:last-child) {
  border-bottom: 1px solid white;
}

.footer-logo > a > img {
  height: 40px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.home-footer > p {
  padding: 40px 0 10px 0;
  margin-bottom: 0;
}

.home-footer {
  height: 465px;
  max-width: 100%;
  background-color: #003366 !important;
}

.home-footer a {
  color: #eef1f5;
  text-decoration: none;
}

.footer-body {
  height: 77.5%;
}

.home-footer .footer-body .col {
  padding: 0 40px;
}

#home-footer-search {
  border-radius: 30px;
}

#home-alert span {
  font-size: 14px !important;
}

img.alert-exclamation {
  transform: scale(0.9);
}

.footer-search-group {
  background-color: #38598acc;
  height: 30px !important;
}

.footer-search-group > .input-group-append {
  height: 30px;
}

.footer-search-box {
  font-size: 12px !important;
  color: #eef1f5 !important;
  opacity: 0.5;
}

.footer-card-footer {
  font-size: 12px;
}

.footer-card-footer .nav hr {
  width: 1px;
  height: 25px;
  background-color: #eef1f5;
}

.footer-card-footer .nav {
  border-top: 1px solid #eef1f5;
}

.footer-card-footer .nav-item:not(:last-child) {
  border-right: 1px solid grey;
}

.footer-card-footer .nav-link {
  color: grey;
}

.footer-card-footer > .navbar {
  border-top: 1px solid white;
}

.footing-hr {
  height: 30px;
}

li.post-separator {
  margin-top: -15px;
}

.footing-hr {
  height: 1px;
  background-color: rgba(252, 186, 25, 1);
  width: 30px;
  display: inline-block;
}

.alert-content,
.alert {
  margin-bottom: 0 !important;
}

.alert-content {
  font-size: 14px;
}

.alert-warning {
  background-color: #ffdd8b !important;
}
