$colorBlue: #003366;
$colorBlueOpacity: rgba(0, 51, 102, 0.8);
$colorGold: #fcba19;
$colorGrey: #eef1f5;
$colorWhite: #fff;
$desktopBreakpoint: 992px;
$tabletBreakpoint: 768px;

#main {
  padding-bottom: 40px;
  overflow-x: hidden;
}

/** Center vertical align in a parent with absolute positioning(grid-card/card-body) */
.v-align-abs {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  > p {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.zone-links {
  padding: 0 20px 0 20px;
  margin-top: 20px;
}

.zone-cards {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.zone-cards .card-text {
  line-height: normal !important;
}

.zone-content {
  margin: 0 20px 0 20px;
}

.zone-header {
  margin: 0 20px 0 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;

  @media screen and (min-width: $desktopBreakpoint) {
    font-size: 36px;
  }
}

.zone-header-small {
  margin: 0 40px 0 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: $colorBlue !important;

  @media screen and (min-width: $desktopBreakpoint) {
    font-size: 26px;
  }
}

.zone-hr > hr {
  margin: 15px 36px 10px 20px;
  height: 2px;
  background-color: $colorGold;
  width: 75px;
  display: inline-block;

  @media screen and (min-width: $desktopBreakpoint) {
    margin: 20px;
  }
}

.link-override {
  text-decoration: none;
  color: $colorBlue !important;
}

.grid-card {
  border: none;
  background: $colorBlue;
  border-radius: 12px;
  overflow: hidden;
  height: 100%;

  @media screen and (max-width: $desktopBreakpoint) {
    width: 90%;
    margin: 16px 5%;
  }
  @media screen and (min-width: $desktopBreakpoint) {
    width: 100%;
  }

}

.round-bl {
  border-bottom-left-radius: 0.25rem;
}
.round-tl {
  border-top-left-radius: 0.25rem;
}
.round-tr {
  border-top-right-radius: 0.25rem;
}
.round-br {
  border-bottom-right-radius: 0.25rem;
}

.padded-link {
  margin-left: 36px;
}

.card-col-padding {
  max-height: 320px;
  
  @media screen and (min-width: $desktopBreakpoint) {
    max-height: 500px;
  }

}

.card-col-padding:not(:last-child) {
  margin-bottom: 30px;
}

.link-img > img {
  height: 219px;
}

.card-img > img {
  height: 316px;
  width: 100%;
  object-fit: cover;
  
  @media screen and (min-width: $desktopBreakpoint) {
    height: 440px;
    object-fit: cover;
  }
}

.full-horizontal-img {
  height: 100%;
  > img {
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: $desktopBreakpoint - 1px) {
    > img {
      max-width: 50vw;
    }
  }

  @media screen and (min-width: $desktopBreakpoint) {
    > img {
      width: 100%;
    }
    max-height: 330px;
  }
}

#home-news,#home-get-involved {
  .card {
    border: unset;
  }
}

.card-img,
.horizontal-card-img,
.full-horizontal-img {
  margin-bottom: unset;
}

.horizontal-card-img > img {
  max-height: 166px;
  width: 100%;
  object-fit: cover;

  @media screen and (min-width: $desktopBreakpoint) {
    max-height: 245px;
  }
}

.grid-card .card-img {
  height: 65%;
  overflow: hidden;
}

.grid-card .card-body {

  color: $colorWhite;
  width: 100%;
  height: 35%;
  display: flex;
  flex-grow:0;
  justify-content: center;
  flex-direction: column;
  padding:10px 50px;

  @media screen and (min-width: $desktopBreakpoint) {
    height: 30%;
  }

  @media screen and (max-width: 414px) {
    padding: 10px 30px;
  }
  .card-text {
    font-size:1rem;
    margin-top:0px;
    @media screen and (min-width: $desktopBreakpoint) {
      font-size:1.2rem;
    }
  }
}

.grid-card.grid-card-horz {

  @media screen and (min-width: $desktopBreakpoint) {
    height:330px;
    flex-direction: row;

    .card-img {
      height:100%;
      width:50%;
      order:2;
    }
    .card-body {
      padding:50px;
      height:100%;
      width:50%;
      order: 1;

      .card-body-header {
        width:375px;
        line-height:2.25rem;
      }
    }
    .card-text {
      margin-top:auto;
    }
  }
}

.card-body:hover {
  background-color: $colorGold;
  > .v-align-abs {
    color: $colorBlue;
    .card-body-header > a {
      color: $colorWhite !important;
    }
  }
  > .card-body-header > a {
    color: $colorWhite !important;
  }
}

.horizontal-card-body {
  height: 50%;
  &:hover {
    a {
      color: $colorBlue !important;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.grid-card .card-button {
  background: $colorWhite;
  color: $colorBlue;
  width: 180px;
  padding: 10px 20px;
  line-height: 30px;
  border-radius: 4px;
  display: inline-flex;
  margin-top: auto;

  i {
    margin:auto 0 auto auto;
    font-size: 1rem;
  }

  @media screen and (max-width: $desktopBreakpoint) {
    display:none;
  }
}

.card-body-header {
  margin-bottom:5px;
}

.card-body-header > a {
  font-size: 1.8rem;
  color: $colorWhite;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }

  @media screen and (max-width: 414px) {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
}

.underline {
  text-decoration: underline !important;
}

#home-alert {
  color: $colorBlue;
  a {
    color: $colorBlue;
  }
}

#home-advisories {
  color: $colorBlue;
  padding-top: 40px;

  .advisory-button {
    background-color: $colorBlue !important;
    color: $colorWhite;
    height: 49px;
    text-align: center;
  }
  .advisory-button:hover {
    background-color: transparent !important;
    border: 2px solid $colorBlue;
    a > span {
      color: $colorBlue !important;
    }
  }
  .all-advisory-button {
    background-color: $colorWhite !important;
    color: $colorBlue;
    height: 49px;
    text-align: center;
    border: 2px solid $colorBlue;
    border-radius: 5px;
  }

  .advisory-content {
    font-size: 16px;
    color: $colorWhite;
    text-align: center;
    border: 2px solid $colorBlue;
    border-radius: 5px;
  }
  .advisory > p {
    margin-bottom: 5px;
  }
  .advisory .fa-chevron-circle-right {
    color: $colorGold;
    padding-left: 30px;
    font-size: 20px;
  }

  @media screen and (min-width: $desktopBreakpoint) {
    .advisory-button {
      height: 55px;
    }
    .all-advisory-button {
      height: 55px;
    }
  }
  @media screen and (min-width: 376px) and (max-width: 990px) {
    .zone-links {
      padding: 0 17% !important;
    }
  }
  @media screen and (max-width: 473px) {
    .zone-links span {
      font-size: 15px;
    }
    .all-advisory-button {
      height:55px;
    }
  }

}

#home-plan-your-trip {
  color: $colorBlue;
  padding-top: 30px;
  margin-top: 50px;
  padding-bottom: 40px;
}

#home-about-bc-parks {
  color: $colorBlue;
  padding-top: 30px;
  padding-bottom: 40px;
}

#home-news,
#home-get-involved {
  color: $colorBlue;
  background-color: $colorGrey;

  .split-card-body {
    background-color: $colorGrey;
    bottom: unset;
    color: $colorBlue;
  }
  .split-card-body .card-title {
    margin: 0 36px 10px 36px;
  }
  .split-card .col-6 {
    background-color: $colorGrey;
  }
  .split-card:hover {
    > div > div {
      background-color: $colorGold;
      > div {
        background-color: $colorGold;
      }
    }
    .zone-hr > hr {
      color: $colorBlue !important;
    }
  }

  .fa-chevron-circle-right {
    font-size: 24px;
  }

  @media screen and (min-width: $desktopBreakpoint) {
    .fa-chevron-circle-right {
      color: $colorBlue;
    }
    .full-horizontal-img > img {
      max-height: 432px;
    }
    .right-chevron > img {
      transform: scale(0.5);
    }
    .zone-hr, .card-text {
      padding-top: 15px;
    }
  }
}

#home-carousel {
  .carousel-indicators {
    bottom: 10% !important;
    justify-content: center;

    > li, li.active {
      width: 5px;
      height: 5px;
      border: 1px;
      border-radius: 5px;
      background-color: $colorWhite !important;
      opacity: unset;
    }
    > li.active {
      background-color: $colorGold !important;
    }
  }
  .carousel-caption {
    > p {
      padding-bottom: 0px !important;
      font-size: 8px;
    }
  }

  @media screen and (min-width: 801px) {
    .carousel-item img {
      height: auto;
    }
    .carousel-inner, .carousel-item {
      max-height: 600px;
    }
    .carousel-indicators {
      margin-right: 32px !important;
      bottom: 75px;
      justify-content: flex-end;
      > li, li.active {
        height: 15px !important;
        width: 15px !important;
        border: 1px;
        border-radius: 15px;
        background-color: $colorWhite !important;
        opacity: unset;
      }
      > li.active {
        background-color: $colorGold !important;
      }
    }
    .carousel-caption {
      right: 32px !important;
      bottom: 32px !important;
    }
  }
}

.content-width-override {
  max-width: 1320px !important;
}
.max-width-override {
  max-width: 1920px !important;
}

#carousel-down {
  z-index: 1299;
  
  @media screen and (min-width: 801px) { 
    position: absolute;
    top: calc(100% - 7.5vh);
    font-size: 36px;
  }
}

.split-card-body .zone-hr > hr {
  margin: 20px 0px 10px 0;
}

#Zone2 {
  background-color: rgba(238, 241, 245, 1);
}
#Zone4 {
  background-color: rgba(238, 241, 245, 1);
}
#Zone5 {
  background-color: rgba(238, 241, 245, 1);
}

.main {

  padding-bottom: 40px;
}
