@import url("https://js.arcgis.com/4.10/esri/css/main.css");
// @import url("https://governmentofbc.maps.arcgis.com/apps/webappviewer/jimu.js/css/jimu-theme.css");

body {
  font-family: BCSans, Verdana, Arial, "sans-serif" !important;
}

.parks-container {
  max-width: 1300px !important;
  font-size: 15px;
}

.anchor-linkx {
  margin-top: -90px;
  padding-top: 90px;
}

.heading {
  color: #000;
}

#park-activity-container .MuiAccordion-root,
#park-facility-container .MuiAccordion-root {
  background-color: #eef1f5;
}

#park-menu-container {
  z-index: 1 !important;
  position: sticky !important;
  top: 1rem !important;
  padding-bottom: 20px !important;

  .MuiPaper-root {
    background-color: transparent !important;
  }
}

#park-menu-container .MuiListItem-button {
  padding: 2px;
}

.park-info-header {
  padding-left: 15px;
}

.park-info-header a {
  color: #003366;
  padding: 0px 0px 0px 8px;
}

.park-info-header .MuiCardHeader-title {
  font-size: 14px !important;
}

.park-info-header-flex {
  display: flex;
  margin-top: 5px;
}

#park-menu-container a {
  color: #003366;
  padding: 5px 0px 5px 8px;
  border-left: 3px solid transparent;
}

#park-header-container {
  padding-top: 35px;
}

#park-header-container a {
  text-decoration: none;
}

#park-header-container a:hover {
  text-decoration: underline;
}

#park-menu-container .isCurrent a {
  font-weight: bold;
  box-sizing: border-box;
  padding: 0px 0px 0px 8px;
  border-left-color: #003366;
}

.park-status-top-grid {
  background-color: "#e1ecf4";
}
.park-details-shaded {
  background-color: #eef1f5 !important;
}

.MuiTypography-root,
.MuiButton-root {
  font-family: BCSans, Verdana, Arial, "sans-serif" !important;
}

.MuiButton-root,
.MuiLink-root {
  border: none !important;
  outline: none !important;
}

.yellow-alert {
  background-color: #fff3d6 !important;
}

.red-alert {
  background-color: #fbe5e6 !important;
}

.blue-alert {
  background-color: #eef1f5 !important;
}

.nested-list,
.nested-list .MuiTypography-root {
  padding-left: 20px;
  font-size: smaller !important;
  list-style-type: circle !important;
}

.blue-button {
  color: #ffffff !important;
  background-color: #003366 !important;
  min-width: 180px !important;
  white-space: nowrap;
  height: 50px;
  font-size: 16px;
}

.yellow-button {
  color: #003366 !important;
  background-color: #fcba19 !important;
  min-width: 180px !important;
  white-space: nowrap;
  height: 50px;
  font-size: 16px;
}

.blue-button:hover,
.yellow-button:hover {
  background-color: transparent !important;
  border: 2px solid #fcba19 !important;
  color: #003366 !important;
  text-decoration: underline;
}

.raw-html-content {
  max-width: 100%;
}

.raw-html-content a {
  display: flex;
  word-break: break-word !important;
}

.raw-html-content li {
  display: list-item !important;
  margin-left: 16px;
}

.park-page-footer {
  z-index: 10 !important;
}

.grey-background {
  background-color: #eef1f5 !important;
}

.grey-background .MuiPaper-root,
.grey-background .MuiBox-root {
  background-color: #eef1f5 !important;
}

.park-heading {
  font-size: 36px !important;
  font-weight: 400;
}

.park-overview-icon {
  width: 32px;
  height: 32px;
  border-radius: 2px !important;
}

#park-facility-container .MuiAccordion-root,
#park-activity-container .MuiAccordion-root,
#park-camping-details-container .MuiAccordion-root {
  background-color: #fff !important;
  border: 1px solid #1a5a96 !important;
}

#park-info-container .MuiAccordionDetails-root {
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-bottom: 15px !important;
}

#park-facility-container .MuiAccordion-root:hover,
#park-activity-container .MuiAccordion-root:hover,
#park-camping-details-container .MuiAccordion-root:hover {
  border: 1px solid #fcba19 !important;
}

.access-icon {
  color: #003366;
  padding: 5px 0px 5px 8px;
}

.access-icon .MuiCardHeader-title {
  padding-left: 8px;
}

#park-header-container .MuiCardHeader-avatar {
  margin-right: 5px !important;
}

#park-header-container .MuiCardHeader-root {
  padding: 0px;
}

#park-info-container .MuiAccordionSummary-root {
  padding: 0px 25px !important;
  font-size: 16px !important;
}

#park-info-container .MuiAccordionSummary-root {
  color: #003366;
}

#park-info-container .MuiPaper-elevation1 {
  box-shadow: unset !important;
}

#park-info-container .MuiLink-root {
  color: #1a5a96 !important;
}

.show-photos {
  text-align: right;
  margin-top: -70px;
  margin-right: 30px;
  position: absolute;
  z-index: 100;
  right: 0;
}

.show-photos-5 {
  text-align: right;
  margin-top: 340px;
  margin-right: 30px;
  position: absolute;
  z-index: 100;
  right: 0;
}

.show-photo-text {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.show-photo-button {
  position: relative;
}

.photo-icon {
  padding-right: 5px;
  width: 32px;
}

.hide-photo {
  display: none;
}

#park-photo-gallery-container {
  margin-right: -5px !important;
}

.park-photo-container,
.park-menu-root {
  padding: 0px !important;
}

.advisory-content,
.full-width {
  width: 100% !important;
}

.no-padding {
  padding: 0px;
}

.flex-display {
  display: flex;
}

.ml10 {
  margin-left: 10px !important;
}

.ml-auto {
  margin-left: auto !important;
}

.park-menu-mobile {
  border: 1px solid #003366;
  border-radius: 5px;
  padding: 3px 0px !important;
  margin-top: 10px !important;
  color: #003366 !important;
}

#mapDiv {
  padding: 0;
  margin: 0;
  height: 500px;
  width: 100%;
  margin-bottom: 15px;
}

.breadcrumb-text {
  color: #313132 !important;
}

.MuiBreadcrumbs-separator {
  color: #313132 !important;
  font-size: 20px !important;
}

.park-access {
  min-width: 210px !important;
}

@media (max-width: 954.98px) {
  .park-info-header-flex {
    display: block !important;
  }
  .park-info-header {
    padding-left: 0px;
    padding-top: 20px;
  }
  .park-overview-html div {
    float: left !important;
    margin: 0px !important;
  }
  #park-advisory-details-container .MuiButtonBase-root {
    padding: 0px !important;
  }
}
