$globalFont: "BCSans",Verdana,Arial,sans serif;
$colorBlue: #003366;
$hoverBlue: #2684ff;
$colorGrey: #eef1f5;
$colorWhite: #fff;
$bodyFont: 1rem;

.MuiTypography-root {
  font-family: $globalFont !important;
  font-size: $bodyFont !important;
}

.MuiButton-root {
  text-transform: none !important;
  font-family: $globalFont !important;
}

.heading-white-space {
  white-space: normal;
}

.park-search {
  font-family: $globalFont !important;
  width: 100%;

  @media screen and (min-width: 801px) {
    position: relative;
    max-height: 742px;
  }

  img {
    height: 440px;
    width: 100%;
  }
  .park-search-container {
    position: absolute;
    top: 16%;
    z-index: 1299;
    height: auto;
    overflow: visible;
    width: 100%;
    background-color: rgba(0, 51, 102, 0.8) !important;
    text-align: center;
    white-space: nowrap;
    font-family: $globalFont !important;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    color: rgba(255, 249, 249, 1);

    // Handling for awkward tablet breakpoints
    @media screen and (min-width: 575px) and (max-width: 800px) {
      height: 275px;
      top: 22.5%;
    }

    @media screen and (min-width: 801px) {
      top: unset;
      bottom: 0;
      width: 45%;
      height: 100%;
      transform: skewX(15deg);
      transform-origin: bottom;
    }
  }

  .park-search-container-inner {
    @media screen and (min-width: 801px) {
      height: 100%;
      > div {
        padding-left: 15%;
        padding-top: 25%;
      }
    }
  }

  #search-title {
    font-family: $globalFont !important;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    padding: 30px;
  }
  .search-icon-fab {
    background-color: rgba(252, 186, 25, 1);
    margin-left: -30px !important;
    margin-top: -9px !important;
    width: 55px !important;
    height: 55px !important;
    .search-icon {
      color: rgba(0, 51, 102, 0.8);
      width: 40px !important;
      height: 40px !important;
    }
  }

  .park-search-text-box {
    width: 80% !important;

    .MuiOutlinedInput-root {
      width: 100% !important;
      max-width: 700px !important;
      background-color: $colorWhite !important;
      border: none !important;
      border-radius: 50px !important;
      font-size: $bodyFont !important;
      font-family: $globalFont !important;
    }
    .MuiOutlinedInput-input {
      padding: 10px 20px !important;
      margin-right: 10px !important;
    }
    .MuiOutlinedInput-root:focus {
      outline: none !important;
      outline-offset: 1px !important;
    }
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: transparent !important;
    }

    @media screen and (min-width: 801px) {
      width: 85% !important;
    }
  }
  button:focus {
    outline: unset !important;
  }
}

.park-search-text-wrapper {
  @media screen and (min-width: 801px) {
    padding-left: 40px !important;
  }
}

.park-filter-dialog {
  font-size: $bodyFont !important;
  font-family: $globalFont !important;
  overflow-y: visible !important;

  .MuiTypography-root {
    font-family: $globalFont !important;
    font-size: $bodyFont !important;
  }

  .park-filter-dialog-content {
    overflow-y: visible !important;
  }

  .MuiPaper-root {
    color: $colorBlue !important;
  }
  .MuiCheckbox-root {
    color: #38598a !important;
    padding: 0px !important;
    padding-right: 5px !important;
  }

  .MuiCheckbox-root:hover {
    background-color: $colorGrey !important;
  }

  .MuiDialog-paperWidthSm {
    max-width: 100% !important;
  }
  .park-filter-text {
    .MuiOutlinedInput-root {
      border-radius: 50px !important;
      background-color: $colorGrey !important;
      font-family: $globalFont !important;
      font-size: $bodyFont !important;
    }

    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline,
    .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
    .park-filter-select [class*="-control"] {
      border-color: $hoverBlue !important;
      border-width: 2px !important;
    }
  }

  .park-filter-select [class*="-control"] {
    border-radius: 50px !important;
    background-color: $colorGrey !important;
    font-family: $globalFont !important;
    font-size: $bodyFont !important;
  }
  .MuiButton-root {
    font-size: $bodyFont !important;
    width: 100% !important;
    border-radius: 50px !important;
  }

  div[class$="-placeholder"] {
    color: #9b9b9b !important;
    font-family: $globalFont !important;
  }

  .park-filter-chip {
    margin: 2px 3px !important;
  }

  .MuiChip-label {
    color: $colorBlue !important;
    font-size: 0.8rem !important;
    font-family: $globalFont;
  }
  .park-select-label {
    font-size: $bodyFont !important;
    padding-bottom: 10px !important;
    font-weight: bold;
  }
}

div[class$="-MenuList"] div[class$="-option"],
div[class$="-singleValue"] {
  color: $colorBlue !important;
  font-family: $globalFont !important;
  font-size: $bodyFont !important;
}

#park-search-box {
  height: 47px;
  width: 100%;
  border-radius: 25px;
  border: 0px;
  display: inline;
  margin: 40px;
}

.park-search-text-container {
  padding: 20px 0 20px 0 !important;
}

.park-search-text {
  @media screen and (min-width: 575.98px) and (max-width: 800px) {
    padding-left: 20px !important;
    text-align: left;
  }
  @media screen and (min-width: 801px) {
    transform: skewX(-15deg);
    padding-left: 25px !important;
    padding-right: 20px !important;
  }
}

.park-search-filter {
  padding-left: 30px !important;
  color: $colorWhite !important;
  font-size: $bodyFont !important;
  text-decoration: underline !important;

  @media screen and (min-width: 801px) {
    padding-left: 40px !important;
    transform: skewX(-15deg);
  }
}

.park-search-intro {
  padding: 0 20px 0 20px !important;
  > p {
    font-size: 16px;
    white-space: normal;
  }

  @media screen and (min-width: 801px) {
    transform: skewX(-15deg);
    padding-left: 80px !important;
    > h2 {
      font-size: 34px;
      padding-right: 20px;
    }
    > p {
      font-size: 20px;
    }
  }
}

.p20t {
  padding-top: 20px !important;
}

.p30l {
  padding: 0px 30px !important;
}

.p20l {
  padding: 0px 20px !important;
}

.m20t {
  margin-top: 20px !important;
}

.p30 {
  padding: 20px 30px !important;
}

.bcgov-normal-blue {
  color: $colorWhite !important;
  font-weight: 700 !important;
  font-style: normal !important;
  background-color: $colorBlue !important;
  font-family: $globalFont !important;
}

.bcgov-normal-blue:hover {
  background-color: #38598a !important;
  color: $colorWhite !important;
}

.bcgov-button {
  min-width: 150px !important;
  min-height: 40px !important;
}

.no-wrap {
  white-space: nowrap !important;
}

.bcgov-loader-show {
  display: inline-block;
}

#search-results {
  box-sizing: border-box;
  overflow: hidden;
  z-index: 2;
  top: 200px;
  width: 100%;
  padding: 0;
  text-align: left;
}

@media (max-width: 575.98px) {
  .bcgov-button {
    min-width: 0px !important;
    min-height: 0px !important;
  }
}

//Added to hide styles printed on screen
head {
  display: none !important;
}
