// typography
$globalFont: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif !important;
$bodyFont: 1rem;
$headingFont: 2rem;

// colours
$colorBlack: #000;
$colorWhite: #fff;
$colorWhiteOpacity: #ffffff90;
$colorText: #494949;
$colorGold: #fcba19;
$colorBlue: #003366;
$colorBlueMed: #2464a4;
$colorBlueLight: #1a5a96;
$colorGrey: #eef1f5;
$colorGreyLight: #f2f2f2;

// breakpoints
$smBreakpoint: 576px;
$mdBreakpoint: 768px;
$lgBreakpoint: 992px;
$xlBreakpoint: 1200px;

$mediumBreakpoint: 991.98px;