$colorWhite: #fff;
$colorBluePrimary: #003366;
$colorBlueMed: #2464a4;
$colorGoldPrimary: #FCBA19;
$colorText: #313132;
$colorLink: #1A5A96;
$colorNav: #38598A;
$colorBorder: #96b3cf;
$colorBackground: #F2F2F2;
$colorComponent: #606060;

$desktopBreakpoint: 992px;
$tabletBreakpoint: 768px;