@import "variables.scss";

.not-found {
  background-color: $colorBlue;
  color:white;
  margin-bottom: 0px;
  h1 {
    font-weight: 100;
  }

  .btn-outline-primary{
    border: none !important;
    justify-content: left !important;
  }

  .thumb-link{
    color: white !important;
  }

  .footer{
    position: relative;
    bottom: 0;
  }

  .home-button{
    font-weight: bold;
    color:$colorBlue;
    background-color: white;
  }

  .banner-icon{
    font-size: 1.2rem;
    margin-right: 1rem;
  }

  .banner-text{
    font-size: 1rem;
    margin-right: 0.5rem;
    a{
      text-decoration: none;
    }
    a:hover{
      color: #036;
    }
  }

  .banner-text-dark-link{
    font-size: 1rem;
    a{
      color: #036;
      text-decoration: none;
    }
  }

  .link-divider{
    display: block;
    margin-right: 0.5rem;
  }

  @media (max-width: 576px) {
    .banner-text, .banner-text-dark-link, .banner-icon{
      font-size: 0.7rem;
      margin-right: 0.1rem;
    }
    .link-divider{
      display: none;
    }
  }
}