@import "variables.scss";

// Content elements (blockquotes, callouts, tables, lists, media)
blockquote {
  border-left: solid 8px $colorBrownMed;
  margin: 16px 0 16px 24px;
  padding: 16px 32px;
  :last-child {
    margin-bottom: 0;
  }
}

.callout-box {
  color: $colorBlue;
  background-color: $colorBlueLight;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  margin: 16px 0;
  padding: 20px;
  & > * {
    max-width: 600px;
  }
}

figure.media div[data-oembed-url] {
  width: 100%;
}

img {
  max-width: 100%;
}

// Tables
figure.table {
  color: $colorGrey;
  table {
    width: 100%;
    tr {
      &:first-of-type {
        th, td {
          border-top: 1px solid $colorGreyLight;
        }
      }
    }
    th, td {
      vertical-align: top;
      border-bottom: 1px solid $colorGreyLight;
      padding: 12px;
    }
    th {
      background: $colorBrownLight;
    }
    td {
      & > p:last-of-type {
        margin-bottom: 0;
      }
      svg {
        width: 16px;
        height: 16px;
        margin-right: 8px;
      }
    }
  }

  &.vertical-heading {
    table {
      tbody {
        tr {
          display: block;
          width: 100%;
          @media screen and (min-width: $mdBreakpoint) {
            width: auto;
            display: table-row;
          }
          th, td {
            display: block;
            width: 100%;
            @media screen and (min-width: $mdBreakpoint) {
              width: auto;
              display: table-cell;
            }
          }
        }
      }
    }
  }

  &.horizontal-heading {
    overflow-x: auto;
    table {
      min-width: 600px;
    }
    &::-webkit-scrollbar {
      height: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba($colorBlack, .2);
      border-radius: 5px;
    }
  }
}

// Lists
ol li.lower-alpha {
  list-style-type: lower-alpha;
}

ul {
  list-style-type: disc;
  ul {
    list-style-type: circle;
  }
}
