.intro-page{  
  a.btn {
    background-color: #fff;
    border: 2px solid #036;
    border-radius: 5px;
    color: #036;
    text-align: center;
    text-decoration: none;
  }

  a.btn:hover {
    background-color: #036;
    color: #fff;
  }

  .beta-welcome {
    padding-top: 80px;
    margin-bottom: 100px;
    color: #003366;
    background-image: url("https://nrs.objectstore.gov.bc.ca/kuwyyf/beta_landing_image_background_credit_michael_benz_1408791a9c.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .beta-welcome_content {
    position: relative;
    z-index: 1000;
  }

  .beta-welcome_main-heading {
    font-weight: bold;
    margin-bottom: 16px;
    font-size: 3rem;
  }

  .beta-welcome_screenshots-container {
    margin-top: -100px;

    img {
      position: relative;
      top: 150px;
      max-width: 100%;
      height: auto;
    }
  }

  .beta-description {
    color: #000;
    max-width: 1100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;

    h2 {
      color: #003366;
    }
  }

  .contents {
    margin-top: 160px;

    h2 {
      color: #003366;
    }

    p {
      color: #000;
    }

    img {
      width: 100%;
    }
  }

  .research {
    background-image: url("https://nrs.objectstore.gov.bc.ca/kuwyyf/beta_landing_research_intake_4e8d49a5bc.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
    border-radius: 16px;
    margin-top: 160px;
    padding: 32px;
    color: #fff;
    h2 {
      color: #fff;
    }
  }

  .research_large-screen img {
    width: 300px;
    margin-left: -30px;
  }

  .research_narrow-screen {
    display: none;
  }

  .research_narrow-screen_flex-container {
    height: 100%;
  }

  .research_narrow-screen_content {
    width: 100%;
    background-color: #036;
    border-radius: 0 0 16px 16px;
    padding: 48px 32px;
  }

  .research_narrow-screen_content a:link {
    color: #fff;
    text-decoration: none;
  }

  .research_narrow-screen_content a:visited {
    color: #fff;
    text-decoration: none;
  }

  .research_narrow-screen_content a:hover {
    color: #fcba19;
  }

  .social-media {
    margin-top: 100px;
    color: #003366;

    a {
      margin: 0 8px;
    }
  }

  @media screen and (max-width: 992px) {
    .contents {
      margin-top: 80px;

      h2 {
        margin-top: 32px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .beta-welcome_screenshots-container {
      margin-top: unset;
    }

    .beta-welcome_screenshots {
      top: 100px;
    }

    .beta-description {
      margin-top: unset;
      text-align: unset;
      margin-left: unset;
      margin-right: unset;
    }

    .research {
      background-image: url("https://nrs.objectstore.gov.bc.ca/kuwyyf/beta_landing_research_intake_narrow_420a361c2e.png");
      padding: unset;
    }

    .research_large-screen {
      display: none;
    }

    .research_narrow-screen {
      display: unset;
    }
  }

  @media screen and (max-width: 576px) {
    .beta-welcome_screenshots-container {
      img {
        top: 70px;
      }
    }
  }
}