@import "variables.scss";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

#footer {
  background-color: $colorBlue !important;
  overflow-x: hidden;
}

#home-footer {
  max-width: 1100px;
  font-size: 0.8rem !important;
  padding: 0px;
  margin: 0px auto;

  .footer-search-container {
    background: none;
    border: none;

    /* style search box in footer */
    .footer-search-box {
      background-color: $colorBlueMed;
      border-radius: 25px;
      height: 50px;
      line-height: 50px;
      align-items: center;
      display: flex;

      .fa {
        margin-left: 20px;
      }
    }

    input.form-control {
      border: none;
      background: none;
      height: 40px;
      color: #fff;
      font-family: $globalFont;
      font-size: 1rem;
    }
    input:focus {
      background: none;
      box-shadow: none;
    }
    input::placeholder {
      color: $colorWhite;
    }
    input:focus::placeholder {
      color: transparent;
    }
    input[type="search"]::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }
  #footer-logo {
    height: 60px;
    margin-bottom: 1.5rem;
    @include media-breakpoint-up(md) {
      height: 90px;
      margin-bottom: 0;
    }
    img {
      height: 100%;
    }
  }

  .footer-utility-link {
    font-size: 1rem;
    margin: 0.5rem 2.5rem 0.5rem 0;
    &:last-of-type {
      margin-right: 0;
    }
  }

  .footer-menu-list {
    font-size: 1.05rem;

    .footer-menu-divider {
      margin: 1rem 0;
      height: 1px;
      background-color: $colorGold;
      width: 48px;
    }
  }

  a {
    color: $colorWhite;
    text-decoration: none;
  }
}
