@import "variables.scss";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

#footer {
  background-color: $colorBlue !important;
  overflow-x: hidden;
}

#home-footer {
  max-width: 1060px;
  font-size: 0.8rem !important;
  padding: 144px 30px 48px;
  margin: 0px auto;
  @media (min-width: $mdBreakpoint) {
    padding: 128px 16px 48px;
  }

  .footer-utility-link {
    font-size: 1rem;
    min-width: 100px;
    margin-right: 16px;
    margin-bottom: 16px;
    &:last-of-type {
      margin-right: 0;
    }
    @media (min-width: $mdBreakpoint) {
      margin-bottom: 0;
    }
  }

  .footer-menu-container {
    margin-bottom: 32px;
    &:last-of-type {
      margin-bottom: 0;
    }
    @media (min-width: $smBreakpoint) {
      margin-top: 12px;
      margin-bottom: 0;
    }
    .footer-menu-list {
      font-size: 1.05rem;
      margin-bottom: 0;
  
      .footer-menu-divider {
        margin: 1rem 0;
        height: 1px;
        background-color: $colorGold;
        width: 48px;
      }
    }
  }

  a {
    color: $colorWhite;
    text-decoration: none;
    &:hover, &:focus-visible {
      text-decoration: underline;
    }
    &:focus-visible {
      border: $colorWhite solid 2px;
      outline: $colorBlueMed solid 2px;
      outline-offset: 0px;
      border-radius: 4px;
    }
  }
}
