@import "variables.scss";

.bc-bg-yellow {
  background: $colorGold;
}
.bc-color-white {
  color: $colorWhite;
}
.bc-color-blue-dk {
  color: $colorBlue;
}
.bc-bg-blue-dk {
  background: $colorBlue;
}
.bc-bg-blue-md {
  background: $colorBlueMed;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  color: $colorGrey;
  letter-spacing: normal;
  font-family: $globalFont;
}

head,
script,
style {
  display: none !important;
}

.line {
  background-color: $colorGold;
  height: 2px;
}

#header {
  width: 100%;
  padding-top: 5px;
  overflow: visible;
  background-color: $colorBlue;
  > .navbar {
    z-index: 1300;
  }
}

.navbar-nav {
  flex-direction: unset !important;
}

#main {
  box-sizing: border-box;
  z-index: 2;
  width: 100%;
  padding: 0;
  text-align: left;
}

#bc-parks-logo {
  margin-bottom: 0.5rem !important;
  a img {
    max-height: 36px;
    max-width: 121px;
  }

  @media screen and (min-width: $smBreakpoint) {
    padding-left: 5vw;
    a img {
      max-height: unset;
      max-width: unset;
    }
  }
}

/** Typography overrides **/

// override BC Govt Bootstrap defaults
h1, h2 {
  color: $colorBlue;
}

/** Overrides CKEditor <p> wrapper element that has margin bottom */
.no-mb {
  margin-bottom: 0px !important;
}

blockquote {
  color: $colorBlue;
  font-size: 1.125rem;
  border-left: solid 3px $colorGold;
  margin: 64px 0 64px 64px;
  padding-left: 24px;
    :last-child {
      margin-bottom: 0;
    }
    h3 {
      font-size: 1.25rem;
    }
}

.callout-box {
  color: $colorBlue;
  background-color: $colorBlueLight;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  margin: 16px 0;
  padding: 20px;
}

figure.media div[data-oembed-url] {
  width: 100%;
}

img { max-width: 100%; }

// table
// This is temp as we should be rendering <table class="table"> through CKEditor
// so that tables pick up standard boostrap styles
figure.table {
  table {
    width: 100%;
    th {
      background: $colorBackgroundGrey;
      border-top: 1px solid $colorGreyLight;
    }
    td {
      border-top: 1px solid $colorGreyLight;
    }
  }

  &.vertical-heading {
    table {
      tbody {
        tr {
          display: block;
          width: 100%;
          @media screen and (min-width: $mdBreakpoint) {
            width: auto;
            display: table-row;
          }
          th, td {
            display: block;
            width: 100%;
            @media screen and (min-width: $mdBreakpoint) {
              width: auto;
              display: table-cell;
            }
          }
        }
      }
    }
  }

  &.horizontal-heading {
    overflow-x: auto;
    table {
      min-width: 600px;
    }
    &::-webkit-scrollbar {
      height: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba($colorBlack, .2);
      border-radius: 5px;
    }
  }
}

ol li.lower-alpha {
  list-style-type: lower-alpha;
}

ul {
  list-style-type: disc;
  ul {
    list-style-type: circle;
  }
}

/* end CKEeditor added styles */

#home-header {
  .nav-item:not(:last-child) {
    border-bottom: 1px solid white;
  }
  .header-search-group {
    background-color: #7a94a5;
    border-top-left-radius: 50em !important;
    border-bottom-left-radius: 50em !important;
    > .form-control {
      background-color: #7a94a5 !important;
    }
  }
}

#home-menu {
  background-color: #255a8b;
  > div {
    padding-left: 6vw;
  }
  nav .nav-item {
    color: $colorWhite;
  }
  .nav-item:not(:last-child) {
    border-right: 1px solid $colorWhite;
  }
}

img.alert-exclamation {
  transform: scale(0.8);
}

.nav-menu-links .nav-item:not(:last-child) {
  border-right: 1px solid $colorWhite;
}

.footing-hr {
  height: 30px;
}

li.post-separator {
  margin-top: -15px;
}

.footing-hr {
  height: 1px;
  background-color: rgba(252, 186, 25, 1);
  width: 30px;
  display: inline-block;
}

/* TODO are any of these alert styles used? */
.alert-content,
.alert {
  margin-bottom: 0 !important;
}

.alert-content {
  font-size: 0.875rem;
}

.alert-warning {
  background-color: #ffdd8b !important;
}

.hidden {
  display: none;
}

/* Breadcrumbs */

.bcp-breadcrumbs {
  ol {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    display: block;
    color: $colorBlueMed;
    text-decoration: none;
    &:hover, &:focus-visible {
      color: $colorBlueMed;
      text-decoration: underline;
    }
    &:focus {
      color: $colorBlueMed !important;
    }
    &:focus-visible {
      border: $colorWhite solid 2px;
      outline: $colorBlueMed solid 2px;
      outline-offset: 0px;
      border-radius: 4px;
    }
  }

  .bcp-breadcrumbs__separator {
    display: flex;
    color: $colorGrey;
    font-size: 1.25rem;
    margin: 0 4px 2px 8px;

    &::before {
      content: "\203A";
    }
  }
}

/** New global CSS for non-MUI markup
    we might want to split these out into individual files eventually
**/

// links
a.underline-hover {
  text-decoration: none;

  &:hover, &:focus {
    color: $colorBlue;
    text-decoration: underline;
  }
}

a.learn-more-link {
  text-decoration: none !important;
  position: relative;
  padding-right: 14px;
  &:hover, &:focus-visible {
    text-decoration: underline !important;
  }
  &::after {
    content: "\f054";
    display: inline-block;
    font-weight: 700;
    font-size: 0.625rem;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 4px;
    right: 0;
  }
}

//buttons
a.btn,
button.btn:not(.btn-link) {
  height: 48px;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.5;
  border-radius: 4px;
  padding: 0 16px;

  &.btn-primary {
    color: $colorWhite !important;
    background-color: $colorBlue;
    border: $colorBlue 2px solid;
    &:hover, &:focus-visible {
      color: $colorWhite;
      background-color: $colorBlueMed !important;
    }
    &:hover{
      border: $colorBlueMed 2px solid !important;
    }
  }

  &.btn-yellow,
  &.btn-warning {
    color: $colorBlue;
    background-color: $colorGold;
    border: $colorGold 2px solid;
    &:hover, &:focus-visible {
      color: $colorWhite;
      background-color: $colorBlueMed;
    }
    &:hover {
      border: $colorBlueMed solid 2px;
    }
  }

  &.btn-white {
    color: $colorBlue !important;
    background-color: $colorWhite;
    border: $colorWhite solid 2px;
    &:hover, &:focus-visible {
      background-color: $colorGold;
    }
    &:hover {
      border: $colorGold solid 2px;
    }
  }

  &.btn-secondary,
  &.btn-light {
    color: $colorBlue !important;
    background-color: $colorWhite;
    border: $colorBlue 1px solid;
    &:hover, &:focus-visible {
      background-color: $colorIceBlue !important;
      border: $colorBlue 1px solid !important;
    }
    &:focus-visible {
      outline: $colorBlueMed solid 2px;
      outline-offset: 2px;
    }
  }

  &.btn-light {
    border: $colorBlue 2px solid !important;
    &:hover, &:focus-visible {
      border: $colorBlue 2px solid !important;
    }
  }

  &.btn-icon {
    &::after {
      content: "\f138";
      display: inline-block;
      font-size: 0.875rem;
      font-family: "Font Awesome 5 Free";
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      margin-left: 8px;
    }
  }

  &:focus {
    box-shadow: none !important;
  }
  &:focus-visible {
    border: $colorWhite solid 2px;
    outline: $colorBlueMed solid 2px;
    outline-offset: 0px;
  }
}

.parks-search-button {
  color: $colorBlue;
  background-color: $colorWhite;
  margin: 24px 0 0 0 !important;
  padding: 0 !important;
  &:hover, &:focus-visible {
    color: $colorBlue;
    background-color: $colorGold;
  }
  &:focus-visible {
    border: $colorWhite solid 2px;
    outline: $colorBlueMed solid 2px;
    outline-offset: 0px;
  }
  @media screen and (min-width: $mdBreakpoint) {
    width: 130px !important;
    margin: 0 0 0 16px !important;
  }
}

.btn-scroll {
  position: fixed;
  right: 5%;
  bottom: 2vh;
  z-index: 100;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  padding: 0;
  &--inner {
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $colorWhite;
    background-color: rgba($colorBlue, .75);
    border: $colorWhite solid 2px;
    border-radius: 50%;
  }
  &:hover {
    .btn-scroll--inner {
      background-color: $colorBlue;
    }
  }
  &:focus {
    outline: none;
  }
  &:focus-visible {
    border: $colorWhite solid 2px;
    outline: $colorBlueMed solid 2px;
    outline-offset: 0px;
    .btn-scroll--inner {
      background-color: $colorBlue;
    }
  }

  @media screen and (min-width: $smBreakpoint) {
    right: 2%;
  }
}

// breadcurmbs
nav.breadcrumbs {
  ol {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    li {
      display: flex;
      line-height: 2rem;
      a {
        &:hover, &:focus, &:focus-visible {
          color: $colorBlueMed;
          text-decoration: underline;
        }
        &:focus-visible {
          border: $colorWhite solid 2px;
          outline: $colorBlueMed solid 2px;
          outline-offset: 0px;
          border-radius: 4px;
        }
      }
      .separator {
        font-size: 1.25rem;
        margin: 0 8px;
      }
    }
  }
}