@import "variables.scss";
@import "content-mixins";

.bc-bg-yellow {
  background: $colorGold;
}
.bc-color-white {
  color: $colorWhite;
}
.bc-color-blue-dk {
  color: $colorBlue;
}
.bc-bg-blue-dk {
  background: $colorBlue;
}
.bc-bg-blue-md {
  background: $colorBlueMed;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  @include base-content-styles;
}

head,
script,
style {
  display: none !important;
}

.line {
  background-color: $colorGold;
  height: 2px;
}

#header {
  width: 100%;
  padding-top: 5px;
  overflow: visible;
  background-color: $colorBlue;
  > .navbar {
    z-index: 1300;
  }
}

.navbar-nav {
  flex-direction: unset !important;
}

#main {
  box-sizing: border-box;
  z-index: 2;
  width: 100%;
  padding: 0;
  text-align: left;
}

#bc-parks-logo {
  margin-bottom: 0.5rem !important;
  a img {
    max-height: 36px;
    max-width: 121px;
  }

  @media screen and (min-width: $smBreakpoint) {
    padding-left: 5vw;
    a img {
      max-height: unset;
      max-width: unset;
    }
  }
}

/** Typography and body content styles **/

@include heading-styles;

// Content styles for CMS-rendered HTML content
@include content-link-styles;
@include blockquote-styles;
@include callout-styles;
@include media-styles;
@include table-base-styles;
@include table-responsive-styles;
@include list-type-styles;

#home-header {
  .nav-item:not(:last-child) {
    border-bottom: 1px solid white;
  }
  .header-search-group {
    background-color: #7a94a5;
    border-top-left-radius: 50em !important;
    border-bottom-left-radius: 50em !important;
    > .form-control {
      background-color: #7a94a5 !important;
    }
  }
}

#home-menu {
  background-color: #255a8b;
  > div {
    padding-left: 6vw;
  }
  nav .nav-item {
    color: $colorWhite;
  }
  .nav-item:not(:last-child) {
    border-right: 1px solid $colorWhite;
  }
}

img.alert-exclamation {
  transform: scale(0.8);
}

.nav-menu-links .nav-item:not(:last-child) {
  border-right: 1px solid $colorWhite;
}

.footing-hr {
  height: 30px;
}

li.post-separator {
  margin-top: -15px;
}

.footing-hr {
  height: 1px;
  background-color: rgba(252, 186, 25, 1);
  width: 30px;
  display: inline-block;
}

/* TODO are any of these alert styles used? */
.alert-content,
.alert {
  margin-bottom: 0 !important;
}

.alert-content {
  font-size: 0.875rem;
}

.alert-warning {
  background-color: #ffdd8b !important;
}

.hidden {
  display: none;
}

/* Breadcrumbs */

.bcp-breadcrumbs {
  ol {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    display: block;
    color: $colorBlueMed;
    text-decoration: none;
    &:hover, &:focus-visible {
      color: $colorBlueMed;
      text-decoration: underline;
    }
    &:focus {
      color: $colorBlueMed !important;
    }
    &:focus-visible {
      border: $colorWhite solid 2px;
      outline: $colorBlueMed solid 2px;
      outline-offset: 0px;
      border-radius: 4px;
    }
  }

  .bcp-breadcrumbs__separator {
    display: flex;
    color: $colorGrey;
    font-size: 1.25rem;
    margin: 0 4px 2px 8px;

    &::before {
      content: "\203A";
    }
  }
}

/** New global CSS for non-MUI markup
    we might want to split these out into individual files eventually
**/

//buttons
@include button-styles;

.parks-search-button {
  color: $colorBlue;
  background-color: $colorWhite;
  margin: 24px 0 0 0 !important;
  padding: 0 !important;
  &:hover, &:active, &:focus-visible {
    color: $colorBlue !important;
    background-color: $colorGold !important;
    border-color: $colorGold !important;
  }
  &:focus-visible {
    border: $colorWhite solid 2px !important;
    outline: $colorBlueMed solid 2px;
    outline-offset: 0px;
  }
  @media screen and (min-width: $mdBreakpoint) {
    width: 130px !important;
    margin: 0 0 0 16px !important;
  }
}

.btn-scroll {
  position: fixed;
  right: 5%;
  bottom: 2vh;
  z-index: 100;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  padding: 0;
  &--inner {
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $colorWhite;
    background-color: rgba($colorBlue, .75);
    border: $colorWhite solid 2px;
    border-radius: 50%;
  }
  &:hover {
    .btn-scroll--inner {
      background-color: $colorBlue;
    }
  }
  &:focus {
    outline: none;
  }
  &:focus-visible {
    border: $colorWhite solid 2px;
    outline: $colorBlueMed solid 2px;
    outline-offset: 0px;
    .btn-scroll--inner {
      background-color: $colorBlue;
    }
  }

  @media screen and (min-width: $smBreakpoint) {
    right: 2%;
  }
}

.btn-audio {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;
  border: $colorGreyLight solid 1px;
  padding: 0;
  svg {
    height: 28px;
    width: 28px;
    color: $colorBlue;
  }
  &:hover, &:focus, &:focus-visible {
    background-color: $colorBlueLight;
    border: $colorBlue solid 1px;
  }
  &:focus-visible {
    outline: $colorBlueMed solid 2px;
    outline-offset: 2px;
  }
}

// breadcurmbs
nav.breadcrumbs {
  ol {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    li {
      display: flex;
      line-height: 2rem;
      a {
        &:hover, &:focus, &:focus-visible {
          color: $colorBlueMed;
          text-decoration: underline;
        }
        &:focus-visible {
          border: $colorWhite solid 2px;
          outline: $colorBlueMed solid 2px;
          outline-offset: 0px;
          border-radius: 4px;
        }
      }
      .separator {
        font-size: 1.25rem;
        margin: 0 8px;
      }
    }
  }
}

// carousel
.carousel {
  height: 100%;
  &:hover {
    a.carousel-control-prev,
    a.carousel-control-next{
      display: flex;
    }
  }
  &.tab-focus-true {
    a.carousel-control-prev,
    a.carousel-control-next {
      display: flex;
    }
  }
  a.carousel-control-prev,
  a.carousel-control-next {
    display: flex;
    &:focus {
      color: $colorWhite;
    }
    @media screen and (min-width: $mdBreakpoint) {
      display: none;
    }
    svg {
      font-size: 1.5rem;
    }
  }
  .carousel-indicators {
    button {
      height: 6px;
      width: 6px;
      border-radius: 6px;
      border: none;
    }
  }
  .carousel-inner {
    height: 100%;
    .carousel-item {
      height: 100%;
      &:focus-visible{
        outline: none;
      }
    }
  }
}

// accordion
.accordion {
  border-top: 1px solid $colorGrey;
  border-bottom: 1px solid $colorGrey;
  padding: 8px 16px;
  & + .accordion {
    border-top: none;
  }
  &.is-open {
    &--true {
      background-color: $colorBrownLight;
    }
  }
  &-content {
    padding-top: 32px;
    & > :not(.subarea-container):not(.audio-player) {
      max-width: 600px !important;
    }
  }
  &-toggle {
    cursor: pointer;
    .accordion-header {
      font-weight: 700;
      color: $colorBlue;
      line-height: 1.5rem;
      margin: 0 16px;
    }
  }
  &.advisory-accordion {
    padding: 14px 16px;
    .accordion-toggle {
      .accordion-header {
        color: $colorGrey;
      }
      svg {
        width: 16px;
        height: 16px;
      }
    }
    img.advisory-status-icon {
      width: 24px;
      height: 24px;
    }
  }
  &.about-accordion,
  &.dates-accordion {
    padding: 14px 16px;
    .accordion-toggle {
      .accordion-header {
        margin-left: 0;
      }
    }
  }
  figure.table {
    table {
      tbody {
        tr {
          & > :first-child {
            background: $colorBrownMed !important;
          }
        }
      }
    }
  }
}
