@import "variables.scss";

.list-page {
  // font
  h1 {
    margin-bottom: 0;
  }
  h2 {
    a {
      color: $colorBlue !important;
      text-decoration: none !important;
      &:hover, &:focus-visible {
        text-decoration: underline !important;
      }
      svg.MuiSvgIcon-root {
        font-size: 1.25rem;
        rotate: 270deg;
        margin: 0 0 4px 8px;
      }
    }
  }
  h3 {
    color: $colorGrey;
    font-size: 1.25rem;
  }
  h4 {
    color: $colorBlue;
    font-size: 1.125rem;
    margin-bottom: 0;
  }
  h5 {
    color: $colorBlue;
    font-size: 1rem;
    margin-bottom: 0;
    svg.MuiSvgIcon-root {
      font-size: 1rem;
      color: $colorRed;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }

  // intro text
  .intro-text-container {
    max-width: 900px;
    ul {
      padding-left: 40px;
      li:not(:last-of-type) {
        margin-bottom: 8px;
      }
    }
  }

  // table
  table {
    display: none;
    @media (min-width: $mdBreakpoint) {
      display: table;
    }
    thead {
      th {
        width: 25%;
        border-top: 2px solid $colorGreyLight !important;
        background-color: $colorBackgroundGrey !important;
        &:first-of-type {
          width: 30%;
        }
        &:nth-of-type(3) {
          width: 20%;
        }
      }
    }
    tbody {
      tr {
        td {
          .subarea-name {
            display: flex;
            align-items: center;
            img {
              margin-right: 8px;
            }
          }
        }
        &:last-of-type {
          td {
            border-bottom: 1px solid $colorGreyLight;
          }
        }
      }
      svg.MuiSvgIcon-root {
        color: $colorRed;
      }
    }
  }
  // table - overriding the bootstrap table class
  .table {
    thead {
      th {
        border-bottom: 2px solid $colorGreyLight !important;
      }
    }
    .thead-light {
      th {
        border-color: $colorGreyLight !important;
      }
    }
    td {
      border-top: 1px solid $colorGreyLight !important;
    }
  }

  // card
  .card {
    display: flex;
    @media (min-width: $mdBreakpoint) {
      display: none;
    }
    .card-body {
      .card-title {
        margin-bottom: 0;
        padding: 24px;
        .subarea-name {
          display: flex;
          align-items: center;
          img {
            margin-right: 8px;
          }
        }
      }
      .list-group {
        .list-group-item {
          border-top: 0;
          border-bottom: 1px solid $colorGreyLight;
          margin: 0 24px;
          padding: 0 0 24px 0;
          &--container {
            b {
              color: $colorGrey;
            }
            & + .list-group-item--container {
              margin-top: 8px;
            }
          }
        }
      }
      &:last-of-type {
        .list-group {
          .list-group-item {
            border-bottom: 0;
          }
        }
      }
    }
  }

  // filter
  .filters {
    .btn {
      width: 42px;
      height: 42px;
      color: $colorBlue;
      font-size: 0.75rem;
      font-weight: 400;
      border: 1px solid $colorBlue;
      border-radius: 0;
      box-shadow: inset 0px 0px 0px 2px $colorWhite;
      margin-top: 12px;
      margin-left: -1px;
      padding: 0;
      &:first-child {
        border-radius: 4px 0 0 4px;
      }
      &:last-child {
        border-radius: 0 4px 4px 0;
      }
      &:hover, &:focus-visible {
        color: $colorBlue;
        background-color: $colorIceBlue;
        font-weight: 700;
        box-shadow: inset 0px 0px 0px 2px $colorIceBlue;
      }
      &:focus {
        box-shadow: inset 0px 0px 0px 2px $colorWhite !important;
      }
      &:focus-visible {
        border: 1px solid $colorBlue;
        outline: $colorBlueMed solid 2px;
        outline-offset: 2px;
        box-shadow: inset 0px 0px 0px 2px $colorIceBlue !important;
        margin-right: 5px;
        margin-left: 4px;
      }

      &-selected--true {
        color: $colorWhite;
        background-color: $colorBlue;
        font-weight: 700;
        &:hover {
          color: $colorWhite;
          background-color: $colorBlue;
          box-shadow: inset 0px 0px 0px 2px $colorWhite;
        }
      }
    }
  }

  // list
  .lists {
    .list {
      margin-top: 48px;
    }
    .park-list {
      margin-bottom: 32px;
    }
  }

  // park-access-status on the park operating dates page
  .operating-dates-list {
    .access-status-icon {
      display: inline-block;
      img {
        width: 24px;
        height: 24px;
      }
      a {
        display: inline;
      }
    }

    @media screen and (max-width: $mdBreakpoint) {
      .access-status-icon {
        margin-top: 8px;
      }
      .gate-text {
        margin-left: 24px;
        padding-left: 0.5rem;
        display: block;
      }
    }
  }
}