@import "variables.scss";
@import url("https://js.arcgis.com/4.10/esri/css/main.css");
// @import url("https://governmentofbc.maps.arcgis.com/apps/webappviewer/jimu.js/css/jimu-theme.css");

.parks-container {
  max-width: 1350px !important;
  &.main-container {
    max-width: 1000px !important;
    padding: 0 16px;
    @media (min-width: $smBreakpoint) {
      padding: 0 20px;
    }
    .park-info-container {
      padding: 0;
    }
  }
  .page-content {
    max-width: 640px;
    padding: 0 16px;
    @media (min-width: $mdBreakpoint) {
      max-width: 66.66667%;
    }
    a:not(.btn) {
      color: $colorBlueMed;
      text-decoration: underline;
      &:hover, &:active, &:focus {
        color: $colorBlue;
      }
      &:focus-visible {
        color: $colorBlue;
        border-radius: 4px;
        border: $colorWhite solid 2px;
        outline: $colorBlueMed solid 2px;
        outline-offset: 0px;
      }
      &.park-overview-link {
        display: inline-block;
        text-decoration: none;
        margin-top: 24px;
        &:hover, &:focus-visible {
          color: $colorBlue;
          text-decoration: underline;
        }
      }
    }
    & > div.w-100:last-of-type {
      min-height: calc(100vh - 380px);
    }
  }
}

.gallery-container {
  padding-left: 0;
  padding-right: 0;
  @media (min-width: $mediumBreakpoint) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.yellow-alert {
  background-color: #fff3d6 !important;
}

.red-alert {
  background-color: #fbe5e6 !important;
}

.blue-alert {
  background-color: $colorBackgroundGrey !important;
}

.raw-html-content {
  max-width: 100%;
}

.park-page-footer {
  z-index: 10 !important;
}

// TODO: destroy this .grey-background thing up with fire
.grey-background {
  background-color: $colorBackgroundGrey !important;
}

#park-menu-mobile {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 1000;
}

.park-menu-mobile {
  border: 1px solid $colorBlue;
  border-radius: 5px;
  padding: 3px 0px !important;
  margin-top: 10px !important;
  color: $colorBlue !important;
  background: $colorWhite;
}

#mapDiv {
  padding: 0;
  margin: 0;
  height: 500px;
  width: 100%;
  margin-bottom: 15px;
}

// Breadcrumbs
.breadcrumb-text {
  color: $colorGrey !important;
}

// Unsure if this is ever used
#park-about-container {
  .ecological-list {
    ul {
      display: inline-block;
      padding-left: 0;
    } 
    li {
      display: inline-block;
      list-style: none;
      margin-left: 8px;
    }
    a {
      text-decoration: none;
      &:hover {
        color: $colorBlue;
        text-decoration: underline;
      }
    }
  }
}



// Photo gallery display
.park-photo-gallery {
  hr {
    border-color: $colorGreyLight;
    margin: 2rem 0;
  }
  .park-photo-gallery-container {
    max-width: none;
    cursor: pointer;
  }
}

.park-photo {
  height: 150px;
  @media (min-width: $smBreakpoint) {
    height: 200px;
  }
  @media (min-width: $mdBreakpoint) {
    height: 300px;
  }
  @media (min-width: $lgBreakpoint) {
    height: 400px;
  }
  &--small {
    height: 196px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.show-photos {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 100;
  @media (min-width: $lgBreakpoint) {
    right: 32px;
    bottom: 32px;
  }
  .show-photo-button {
    color: $colorWhite;
    background-color: rgba($colorGrey, 0.5);
    border: transparent solid 2px;
    &:hover, &:focus-visible {
      color: $colorWhite;
      background-color: $colorGrey;
    }
    &:hover {
      border: $colorGrey solid 2px;
    }
    &:focus {
      outline: none;
    }
    &:focus-visible {
      border: $colorWhite solid 2px;
      outline: $colorBlueMed solid 2px;
      outline-offset: 0px;
    }
    .photo-icon {
      padding-right: 5px;
    }
  }
}

// park photo gallery
.yarl__slide_image {
  max-height: calc(100vh - 300px) !important;
}
.yarl__slide_description_container {
  bottom: 10%;
  padding: 0;
  @media (min-width: $mdBreakpoint) {
    bottom: 16px;
  }
  .yarl__slide_description {
    width: 900px;
    max-width: calc(100% - 32px);
    margin: 0 auto;
  }
}
.yarl__thumbnails_thumbnail {
  &:not(.yarl__thumbnails_thumbnail_active) {
    opacity: .5;
  }
}
.yarl__navigation_prev, .yarl__navigation_next {
  color: $colorWhite;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  filter: none;
  padding: 2px;
  &:focus {
    outline: none;
  }
  &:focus-visible {
    color: #000;
    background-color: $colorWhite;
    &:hover {
      color: #000;
    }
  }
}
.yarl__navigation_prev {
  left: 16px;
}
.yarl__navigation_next {
  right: 16px;
}

// Section headers
h2.section-heading {
  position: relative;
  padding-bottom: 2rem;
  &:after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: 9px;
    margin: 0;
    left: 0;
    right: 0;
    width: 5rem;
    background: #fdb813;
  }
}

// Park header
#park-header-container {
  .card-parent {
    .card-child {
      font-size: 0.875rem;
      img {
        width: 32px;
        height: 32px;
      }
      a {
        flex: 1 1 100%;
        font-size: 0.875rem;
        &:hover, &:focus-visible {
          color: $colorBlue;
          text-decoration: underline;
        }
        &:focus-visible {
          border: $colorWhite solid 2px;
          outline: $colorBlueMed solid 2px;
          outline-offset: 0px;
          border-radius: 4px;
        }
      }
      @media (min-width: $lgBreakpoint) {
        &:first-child {
          min-width: 210px;
        }
      }
    }
  }

  .button-parent {
    a.btn  {
      &+.btn {
        margin-top: 16px;
        @media (min-width: $lgBreakpoint) {
          margin-top: 0;
        };
      }
    }
  }
}

.park-overview {
  &.collapsed {
    max-height: 260px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
  }
  &.expanded {
    max-height: none;
  }
}

// page section
.anchor-link {
  padding-top: 64px;
}

.access-status-icon {
  line-height: 2rem;
  img {
    float: left;
    margin-bottom: 8px;
  }
  a {
    display: block;
    white-space: nowrap;
    text-decoration: underline;
  }
}