@import "variables.scss";

.parks-container {
  max-width: none;
  width: 100%;
  padding: 0;
  .park-info-container {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    @media (min-width: $mdBreakpoint) {
      padding-left: 32px;
      padding-right: 32px;
    }
    @media (min-width: $xlBreakpoint) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .breadcrumb-container {
    padding-top: 32px;
  }
  .page-content {
    max-width: 640px;
    padding: 0;
    @media (min-width: $mdBreakpoint) {
      max-width: 66.66667%;
      padding: 0 16px;
    }
    a:not(.btn) {
      color: $colorBlueMed;
      text-decoration: underline;
      &:hover, &:active, &:focus {
        color: $colorBlue;
      }
      &:focus-visible {
        color: $colorBlue;
        border-radius: 4px;
        border: $colorWhite solid 2px;
        outline: $colorBlueMed solid 2px;
        outline-offset: 0px;
      }
    }
    div:not(.accordion-content) {
      & > .raw-html-content:not(.accordion-header) {
        & > :not(blockquote) {
          max-width: 600px;
        }
      }
    }
    & > div.w-100:last-of-type {
      min-height: calc(100vh - 380px);
      padding-bottom: 64px;
    }
  }
}

.gallery-container {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  &.has-photo--true {
    padding-bottom: 100px;
    @media (min-width: $smBreakpoint) {
      padding-bottom: 200px;
    }
    @media (min-width: $lgBreakpoint) {
      padding-bottom: 300px;
    }
  }
  .background-container {
    height: 100px;
  }
  .park-info-container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    @media (min-width: 1100px) {
      left: calc(50% - 550px);
    }
  }
}

.yellow-alert {
  background-color: #fff3d6 !important;
}

.red-alert {
  background-color: #fbe5e6 !important;
}

.blue-alert {
  background-color: $colorBackgroundGrey !important;
}

.raw-html-content {
  max-width: 100%;
}

.park-page-footer {
  z-index: 10 !important;
}

// TODO: destroy this .grey-background thing up with fire
.grey-background {
  background-color: $colorBackgroundGrey !important;
}
.bg-brown {
  background-color: $colorBrownLight;  
}

#park-menu-mobile {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 1000;
}

.park-menu-mobile {
  border: 1px solid $colorBlue;
  border-radius: 5px;
  padding: 3px 0px !important;
  margin-top: 10px !important;
  color: $colorBlue !important;
  background: $colorWhite;
}

// Breadcrumbs
.breadcrumb-text {
  color: $colorGrey !important;
}

// About this park
#about-this-park {
  .ecological-list {
    margin-bottom: 0;
    &:last-of-type {
      margin-bottom: 16px;
    }
    a {
      font-weight: bold;
      margin-right: 4px;
      &:hover {
        color: $colorBlue;
        text-decoration: underline;
      }
    }
  }
}



// Photo gallery display
.park-photo-gallery {
  hr {
    border-color: $colorGreyLight;
    margin: 2rem 0;
  }
  .park-photo-gallery-container {
    max-width: none;
    cursor: pointer;
  }
}

.park-photo {
  height: 200px;
  width: 100%;
  border: none;
  padding: 0;
  @media (min-width: $smBreakpoint) {
    height: 300px;
  }
  @media (min-width: $lgBreakpoint) {
    height: 400px;
  }
  &--small {
    height: 146px;
    @media (min-width: $lgBreakpoint) {
      height: 196px;
    }
  }
  .lazy-load-image-loaded {
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.show-photos {
  position: absolute;
  width: auto;
  right: 16px;
  bottom: 16px;
  z-index: 100;
  @media (min-width: $lgBreakpoint) {
    right: 32px;
    bottom: 32px;
  }
  .show-photo-button {
    color: $colorWhite;
    background-color: rgba($colorGrey, 0.5);
    border: transparent solid 2px;
    &:hover, &:focus-visible {
      color: $colorWhite;
      background-color: $colorGrey;
    }
    &:hover {
      border: $colorGrey solid 2px;
    }
    &:focus {
      outline: none;
    }
    &:focus-visible {
      border: $colorWhite solid 2px;
      outline: $colorBlueMed solid 2px;
      outline-offset: 0px;
    }
    .photo-icon {
      padding-right: 5px;
    }
  }
}

// park photo gallery
.yarl__slide_image {
  max-height: calc(100vh - 300px) !important;
}
.yarl__slide_description_container {
  bottom: 10%;
  padding: 0;
  @media (min-width: $mdBreakpoint) {
    bottom: 16px;
  }
  .yarl__slide_description {
    width: 900px;
    max-width: calc(100% - 32px);
    margin: 0 auto;
    & > div > * {
      display: inline-flex;
    } 
    .photo-credit {
      color: rgba($colorWhite, .72);
      margin-left: 6px;
    }
  }
}
.yarl__thumbnails_thumbnail {
  &:not(.yarl__thumbnails_thumbnail_active) {
    opacity: .5;
  }
}
.yarl__navigation_prev, .yarl__navigation_next {
  color: $colorWhite;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  filter: none;
  padding: 2px;
  &:focus {
    outline: none;
  }
  &:focus-visible {
    color: #000;
    background-color: $colorWhite;
    &:hover {
      color: #000;
    }
  }
}
.yarl__navigation_prev {
  left: 16px;
}
.yarl__navigation_next {
  right: 16px;
}

// Section headers
h2.section-heading {
  position: relative;
  padding-bottom: 2rem;
  &:after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: 9px;
    margin: 0;
    left: 0;
    right: 0;
    width: 5rem;
    background: #fdb813;
  }
}

// Park header
#park-header-container {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;
  .park-header {
    width: 670px;
    &-child {
      display: flex;
      margin-bottom: 24px;
      .access-status-icon {
        a {
          display: inline;
        }
      }
    }
    &--left {
      width: 670px;
      p {
        margin-bottom: 0;
        & + p {
          margin-top: 4px;
        }
      }
      a:not(.btn) {
        text-decoration: underline;
      }
      svg, img {
        width: 24px;
        height: 24px;
        margin-right: 12px;
        margin-bottom: 0;
      }
      svg {
        color: $colorBlue;
        &.fa-ban {
          color: $colorRed;
        }
      }
    }
    &--right {
      width: 430px;
      display: none;
      justify-content: flex-end;
      img {
        width: 250px;
      }
      @media (min-width: $mdBreakpoint) {
        display: flex;;
      }
    }
    .btn.btn-secondary {
      margin-top: 8px;
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }

  .card-parent {
    .card-child {
      font-size: 0.875rem;
      img {
        width: 32px;
        height: 32px;
      }
      a {
        flex: 1 1 100%;
        font-size: 0.875rem;
        &:hover, &:focus-visible {
          color: $colorBlue;
          text-decoration: underline;
        }
        &:focus-visible {
          border: $colorWhite solid 2px;
          outline: $colorBlueMed solid 2px;
          outline-offset: 0px;
          border-radius: 4px;
        }
      }
      @media (min-width: $lgBreakpoint) {
        &:first-child {
          min-width: 210px;
        }
      }
    }
  }

  .button-parent {
    a.btn  {
      &+.btn {
        margin-top: 16px;
        @media (min-width: $lgBreakpoint) {
          margin-top: 0;
        };
      }
    }
  }
}

// Know before you go
#know-before-you-go {
  #advisories {
    margin-bottom: 40px;
  }
}

// expandable description with gradient
.expandable-description {
  position: relative;
  &.collapsed {
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    &.gradient::after {
      content: "";
      width: 100%;
      height: 100px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba($colorWhite, 0) 0%, $colorWhite 100%);
    }
  }
  &.expanded {
    max-height: none;
    &.gradient::after {
      display: none;
    }
  }
  hr {
    color: transparent;
    border: none;
    margin: 0;
  }
}

// near by parks section
#nearby-parks-container {
  background-color: $colorBrownMed;
  padding: 32px 0;
  h2 {
    margin-bottom: 16px;
  }
  .container {
    max-width: 1000px;
    padding: 0 32px;
    @media (min-width: $mdBreakpoint) {
      padding: 0 20px;
    }
    .row {
      .col {
        margin-bottom: 16px;
        @media (min-width: $lgBreakpoint) {
          margin-bottom: 0;
        }
      }
    }
  }
  .park-card {
    background-color: $colorWhite;
    border-radius: 10px;
    overflow: hidden;

    .park-image-div-mobile {
      height: 220px !important;
    }
    .park-content-mobile {
      height: 180px;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      padding: 16px;
      h2.park-heading-text {
        position: relative;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        line-height: 28px;
        margin-bottom: 0;
        padding-right: 24px;
        svg {
          position: absolute;
          bottom: 6px;
          right: 0;
        }
      }
    }
  }
}

// page section
.anchor-link {
  padding-top: 64px;
}

.access-status-icon {
  img {
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
  }
  a {
    display: block;
    white-space: nowrap;
    text-decoration: underline;
  }
}

// visitor guidelines
.guideline {
  margin-bottom: 8px;
  &--left {
    svg, img {
      width: 48px;
      height: 48px;
      padding: 6px;
    }
  }
  &--right {
    h4 {
      margin-bottom: 8px;
    }
  }
}

// camping
#camping {
  .park-camping {
    & + .park-camping {
      margin-top: 32px;
    }
    .reservation-button-container {
      padding-top: 16px;
      @media (min-width: $smBreakpoint) {
        padding-top: 0;
      }
      a.btn {
        margin-top: 4px;
        & + a.btn {
          margin-left: 8px;
        }
      }
    }
  }
}

// camping (subarea)
.subarea-container {
  &--left, &--right {
    display: flex;
    .subarea-icon {
      padding-right: 16px;
      svg, img {
        width: 16px;
        height: 16px;
      }
    }
  }
  &--left {
    .subarea-list {
      ul {
        list-style: none;
        padding: 0;
      }
    }
  }
  &--right {
    margin-top: 32px;
    @media (min-width: $lgBreakpoint) {
      margin-top: 0;
    }
    .subarea-list {
      ul {
        padding-left: 24px;
      }
    }
  }
  .subarea-list {
    h4 {
      margin-bottom: 4px;
    }
  }
}

// contact
#contact {
  img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}