@import "variables.scss";

.MuiTypography-root {
  font-family: $globalFont;
  font-size: $bodyFont !important;
}

.MuiButton-root {
  text-transform: none !important;
  font-family: $globalFont;
}

.MuiLink-underlineHover {
  &:hover {
    color: $colorBlue;
    &:focus {
      color: inherit;
    }
  }
}

h3.subtitle {
  color: $colorGreyDark;
  font-size: 1.25rem;
}

.search-body {
  background-color: $colorGreyLight !important;
}

.park-search { 
  .park-search-text-box {
    width: 80% !important;
    @media screen and (max-width: $mediumBreakpoint) {
      width: 100% !important;
      .MuiOutlinedInput-adornedStart {
        height: 100%;
      }
    }

    .MuiOutlinedInput-root {
      width: 100% !important;
      max-width: 700px !important;
      background-color: $colorWhite !important;
      border: none !important;
      font-size: $bodyFont !important;
      font-family: $globalFont;
      height: 50px;
    }
    .MuiOutlinedInput-input {
      padding: 10px 20px !important;
      margin-right: 10px !important;

      @media screen and (max-width: $mediumBreakpoint) {
        padding: 0 !important;
      }
    }
    .MuiOutlinedInput-root:focus {
      outline-offset: 1px !important;
    }
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border: 1px solid $colorBlue !important;
    }
  }

  .search-icon-fab {
    background-color: rgba(252, 186, 25, 1);
    margin-left: -30px !important;
    margin-top: -10px !important;
    width: 70px !important;
    height: 70px !important;
    .search-icon {
      color: rgba(0, 51, 102, 0.8);
      font-size: 2rem;
    }
  }
}

.search-results-main {
  padding: 32px 0;
  .park-search-text-box {
    width: 100% !important;

    .MuiOutlinedInput-root {
      width: 100% !important;
      max-width: 700px !important;
      background-color: $colorWhite !important;
      border: none !important;
      border-radius: 5px !important;
      font-size: $bodyFont !important;
      font-family: $globalFont;
    }
    .MuiOutlinedInput-input {
      padding: 10px 7px !important;
    }
    .MuiOutlinedInput-root:focus,
    .MuiOutlinedInput-root:focus-within  {
      outline: none !important;
      outline-offset: 1px;
      .MuiOutlinedInput-notchedOutline {
        border: 1px solid #000;
      }
    }
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border: 1px solid $colorBlue !important;
    }
  }
  .park-filter-select [class*="-control"] {
    border-radius: 50px !important;
    background-color: $colorWhite !important;
    font-family: $globalFont;
    font-size: $bodyFont !important;
  }
}

.heading-white-space {
  white-space: normal;
}

.park-search {
  font-family: $globalFont;
  width: 100%;
  position: relative;  

  @media screen and (min-width: $lgBreakpoint) {
    max-height: 636px;
  }

  @media screen and (max-width: $mediumBreakpoint) {
    height: 550px;
    img {
      height: 550px !important;
      object-fit: cover;
    }
  }

  img {
    width: 100%;
  }
  .park-search-container {
    position: absolute;
    z-index: 1299;
    overflow: visible;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    font-family: $globalFont;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    color: rgba(255, 249, 249, 1);

    .mobile-search-element-height {
      height: 50px;
    }

    @media screen and (max-width: $mediumBreakpoint) {
      height: inherit;
      top: unset !important;
    }

    @media screen and (max-width: $mediumBreakpoint) {
      h2 {
        font-size: 2.3125rem;
      }
      button > span {
        font-size: 0.875rem;
      }
      .mobile-filter {
        border: 1px solid $colorWhite !important;
        width: 100%;
      }
      .mobile-search-element-height {
        height: 53px !important;
      }
    }

    @media screen and (min-width: 376px) and (max-width: $mediumBreakpoint) {
      .park-search-group {
        padding: 0 17%;
      }
    }

    @media screen and (min-width: $lgBreakpoint) {
      background: url("../images/u149.svg");
      bottom: 0;
      top: unset;
      width: 50%;
      height: 100%;
      transform: skewX(20deg);
      transform-origin: bottom;
    }
  }

  .park-search-container-inner {
    @media screen and (min-width: $lgBreakpoint) {
      height: 100%;
      > div {
        padding-left: 15%;
      }
    }
  }

  .park-search-container-inner-align{
    @media screen and (min-width: $lgBreakpoint) {
      max-width: 500px;
    }
  }

  #search-title {
    font-family: $globalFont;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    padding: 30px;
  }

}

.park-search-text-wrapper {
  @media screen and (min-width: $lgBreakpoint) {
    padding-left: 40px !important;
  }
}

.yellow-divider {
  background-color: $colorGold;
  height: 3px;
}

.grey-divider-light {
  background-color: $colorGrey;
}

.vertical-divider {
  height: 100%;
  background-color: $colorGrey;
}

.divider-div {
  padding: 0px 25px !important;
}

.grey-divider {
  height: 3px;
  background-color: $colorGrey;
}

.filter-options-container {
  .MuiTypography-root {
    color: $colorText;
    line-height: 2;
  }
  .MuiIconButton-root .MuiSvgIcon-root {
    font-size: 1.875rem;
    color: $colorText;
  }

  .MuiFormControlLabel-root {
    align-items: flex-start;
    margin-left: 0;
    margin-right: 0;
  }
}

.park-filter-dialog,
.park-links-modal {
  font-size: $bodyFont !important;
  font-family: $globalFont;

  .park-filter-title {
    color: $colorText;
  }

  .park-filter-options {
    background-color: $colorWhite !important;
    border: 1px solid $colorBlue;
    border-radius: 5px;
  }

  .park-filter-option-label {
    height: 50px !important;
    .flex-display {
      align-items: center;
      justify-content: space-between;
      svg.MuiSvgIcon-root {
        color: #656565;
        font-size: 1.25rem;
      }
    }
  }

  .park-filter-dialog-content .MuiTypography-root {
    font-family: $globalFont;
    font-size: $bodyFont !important;
  }

  .park-filter-dialog-content, .park-filter-dialog-action {
    padding: 16px !important;
  }

  .park-filter-dialog-content {
    &--header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;
      h1 {
        margin-bottom: 0;
      }
      button {
        color: $colorText;
        &:hover {
          background-color: none;
        }
      }
    }
  }

  .MuiDialog-paperWidthSm {
    border-radius: 0px !important;
    background-color: $colorGrey !important;
    width: 1000px !important;
    max-width: 1000px !important;
    height: 100%;
    max-height: 100%;
    margin: 0px;
    @media screen and (min-width: $smBreakpoint) {
      height: auto;
      max-height: auto;
      margin: 16px;
    }
  }

  .park-filter-select [class*="-control"] {
    border-radius: 5px !important;
    background-color: $colorWhite !important;
    font-family: $globalFont;
    font-size: $bodyFont !important;
  }

  .bcgov-button {
    height: 50px;
  }

  .search-icon {
    color: #00468b !important;
  }
}
.park-filter-dialog,
.search-results-main {
  .MuiCheckbox-root {
    color: $colorBlue !important;
    background-color: #fff;
    border-radius: 4px;
    padding: 0px !important;
    margin-right: 10px;
    &.Mui-disabled {
      color: #c7c7c7!important;
      background-color: #e4e4e4;
    }
  }

  .MuiCheckbox-root:hover {
    background-color: $colorGrey !important;
  }

  .no-filters-text {
    font-style: italic;
    text-align: center;
    padding: 15px;
  }

  .park-filter-text {
    .MuiOutlinedInput-root {
      border-radius: 5px !important;
      background-color: $colorWhite !important;
      font-family: $globalFont;
      font-size: $bodyFont !important;
      height: 50px;
    }
  }

  .MuiButton-root {
    font-size: $bodyFont !important;
    width: 100% !important;
    border-radius: 5px !important;
  }

  div[class$="-placeholder"] {
    color: #9b9b9b !important;
    font-family: $globalFont;
  }

  .park-filter-chip-list-container {
    padding: 10px 20px !important;
  }

  .park-filter-chip-list {
    border: none !important;
    padding-right: 10px;
    margin-top: -5px;
  }

  .close-icon-blue {
    color: $colorBlue;
  }

  .park-filter-chip {
    margin: 0 4px 8px 0 !important;
    min-width: 130px;

    .MuiChip-label {
      text-align: left !important;
    }

    .MuiChip-deleteIcon {
      margin-left: 5px;
    }
  }

  .MuiChip-label {
    color: $colorBlue !important;
    font-size: 0.8rem !important;
    font-family: $globalFont;
  }
  .park-select-label {
    font-size: $bodyFont !important;
  }
}

div[class$="-MenuList"] div[class$="-option"],
div[class$="-singleValue"] {
  color: $colorBlue !important;
  font-family: $globalFont;
  font-size: $bodyFont !important;
}

#park-search-box {
  height: 47px;
  width: 100%;
  border-radius: 25px;
  border: 0px;
  display: inline;
  margin: 40px;
}

.park-search-text-container {
  padding: 20px 0 20px 0 !important;
}

.park-search-filter {
  padding-left: 30px !important;
  color: $colorWhite !important;
  font-size: $bodyFont !important;
  text-decoration: underline !important;

  @media screen and (min-width: $lgBreakpoint) {
    padding-left: 40px !important;
    transform: skewX(-20deg);
  }
}

.park-search-intro {
  padding: 0 20px 0 20px !important;
  > p {
    font-size: 1rem;
    white-space: normal;
  }

  @media screen and (min-width: $lgBreakpoint) {
    transform: skewX(-20deg);
    padding-left: 80px !important;
    > h2 {
      font-size: 1.5rem;
      padding-right: 20px;
    }
  }
}
.park-links-modal {
  .container {
    max-width: 300px;
    padding: 16px;
    .bcgov-button {
      width: 100%;
      &.link-button {
        font-size: 1.125rem;
        border: 1px solid #c7c7c7 !important;
        margin-top: 8px;
        &:hover {
          color: $colorWhite !important;
          border: 1px solid $colorBlue !important;
        }
        a {
          color: inherit;
          text-decoration: none;
        }
        svg.MuiSvgIcon-root {
          font-size: inherit;
          margin-left: 4px;
        }
      }
    }
  }
}
.load-more-button-container {
  display: flex;
  justify-content: center;
  .load-more-button {
    border: 1px solid #c7c7c7 !important;
    @media screen and (min-width: $lgBreakpoint) {
      height: 50px !important;
      width: 200px !important;
    }
  }
}

.pb20 {
  padding-bottom: 20px;
}

.p10 {
  padding: 10px !important;
}

.p20 {
  padding: 20px !important;
}

.p25 {
  padding: 25px !important;
}

.p10t {
  padding-top: 10px !important;
}

.p20t {
  padding-top: 20px !important;
}

.p30t {
  padding-top: 30px !important;
}

.p40t {
  padding-top: 40px !important;
}

.p30 {
  padding: 30px !important;
}

.p30lr {
  padding: 0px 30px !important;
}

.p0 {
  padding: 0px !important;
}

.p5l {
  padding-left: 5px !important;
}

.p20lr {
  padding: 0px 20px !important;
}

.p10l {
  padding-left: 10px !important;
}

.p15l {
  padding-left: 15px !important;
}

.p20l,
.p20l-filter {
  padding-left: 20px !important;
}

.m20t {
  margin-top: 20px !important;
  @media screen and (min-width: $lgBreakpoint) {
    &:first-of-type {
      margin-top: 0 !important;
    }
  }
}

.m15t {
  margin-top: 15px !important;
}

.m10t {
  margin-top: 10px !important;
}


.p2030 {
  padding: 20px 30px !important;
}

.pr3 {
  padding-right: 3px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pr20 {
  padding-right: 20px;
}

.pr30 {
  padding-right: 30px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.mtm5 {
  margin-top: -5px !important;
}

.mtm7 {
  margin-top: -7px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mt8 {
  margin-top: 8px !important;
}

.mt24 {
  margin-top: 24px;
}

.mt32 {
  margin-top: 32px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb32 {
  margin-bottom: 32px;
}

.h50p,
.h50p .MuiInputBase-root,
.h50p [class*="-control"],
.h50p button {
  height: 50px !important;
}

.bcgov-normal-blue {
  color: $colorWhite !important;
  font-style: normal !important;
  background-color: $colorBlue !important;
  font-family: $globalFont;

  @media screen and (max-width: $mediumBreakpoint) {
    font-weight: normal !important;
  }
  box-shadow: unset !important;
}

.bcgov-normal-blue:hover {
  background-color: $colorBlue !important;
  color: $colorWhite !important;
}

.bcgov-normal-white {
  color: $colorBlue !important;
  font-style: normal !important;
  background-color: $colorWhite !important;
  font-family: $globalFont;
  box-shadow: unset !important;
  border: 1px solid $colorBlue !important;
}

.bcgov-normal-white:hover {
  background-color: $colorBlue !important;
  color: $colorWhite !important;
}

.bcgov-normal-gold {
  background-color: $colorGold !important;
}
.bcgov-normal-transparent {
  color: $colorBlue !important;
  font-style: normal !important;
  background-color: transparent !important;
  border: 1px solid $colorBlue !important;
  font-family: $globalFont;
  box-shadow: unset !important;
}

.bcgov-normal-transparent:hover {
  border-width: 1px !important;
  border-style: solid !important;
  background-color: $colorWhite !important;
}

.bcgov-button {
  height: 39px;
}

.no-wrap {
  white-space: nowrap !important;
}

.bcgov-loader-show {
  display: inline-block !important;
}

.park-af-list {
  display: inline-block !important;
}

.flex-display,
.flex-display-list {
  display: flex !important;
}

.ml-auto {
  margin-left: auto !important;
}

.pointer {
  cursor: pointer !important;
}

.align-center {
  text-align: center;
  vertical-align: middle;
}

.m-auto {
  margin: auto !important;
}

.text-black {
  color: $colorText !important;
}

.text-light-blue {
  color: $colorBlueLight !important;

  .MuiTypography-root {
    color: $colorBlueLight !important;
  }
}

.link {
  color: $colorBlueLight !important;
}

.link-white {
  color: $colorWhite !important;
}

.link-white:hover,
.link:hover {
  cursor: pointer !important;
}

.clear-filter-link {
  display: inline-block;
  color: $colorBlue !important;
  cursor: pointer;
  margin: 0 8px !important;
}

.expand-link {
  color: $colorBlue !important;
  cursor: pointer;
  svg.MuiSvgIcon-root {
    color: #656565;
    font-size: 1.5rem;
    margin: 0 0 2px 8px;
  }
}

.background-blue {
  background-color: $colorBlue;
}

.park-quick-view-dialog .MuiPaper-elevation24 {
  box-shadow: unset !important;
}

.park-quick-view-dialog .MuiDialogContent-root {
  padding: 0px !important;
}

.park-image-div {
  height: 200px !important;
  width: 250px !important;
  padding-right: 0px !important;
}

.park-image-div-mobile {
  height: 300px !important;
  width: 100% !important;
  padding-right: 0px !important;
}

.park-image-logo-div {
  background-color: $colorBlue;
}

.search-result-logo-image {
  width: 200px;
  display: block;
  margin-top: 125px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $lgBreakpoint) {
    margin-top: 75px;
  }
}

.park-quick-view-dialog-content {
  overflow-x: hidden !important;
}

.park-carousel,
.park-carousel-mobile,
.CarouselItem,
.CarouselItem div {
  height: 100% !important;
}

.park-carousel,
.park-carousel-mobile {
  .indicator {
    margin-top: -30px;
    &-button {
      z-index: 1;
      pointer-events: none;
      color: rgba($colorWhite, .6);
      .MuiSvgIcon-root {
        width: 8px;
        height: 8px;
        margin: 0 4px;
      }
      &--active {
        color: rgba($colorWhite, 1);
      }
    }
  }
}
// display carousel nav with hovering on laptop
.park-carousel {
  .carousel-nav {
    display: none;
  }
  &:hover {
    .carousel-nav {
      display: block;
      &-botton {
        width: 24px;
        height: 24px;
        color: $colorText;
        background-color: rgba($colorWhite, .72);
        &:hover, &:focus {
          color: $colorText;
          background-color: rgba($colorWhite, .72);
        }
      }
    }
  }
}
// display carousel nav without hovering on tablet/mobile
.park-carousel-mobile  {
  .carousel-nav {
    display: block;
    &-botton {
      width: 24px;
      height: 24px;
      color: $colorText;
      background-color: rgba($colorWhite, .72);
      &:hover, &:focus {
        color: $colorText;
        background-color: rgba($colorWhite, .72);
      }
    }
  }
}

.search-result-image {
  width: 100% !important;
  object-fit: cover !important;
  height: 100% !important;
  object-position: center;
}

.search-result-icon {
  width: 32px !important;
  height: 32px !important;
}

.search-result-card {
  min-height: 300px !important;
  .park-overview-icon {
    width: 24px;
    height: 24px;
  }
}

.park-heading-text {
  color: $colorBlue;
  font-size: 1.25rem;
  line-height: 2rem;
  text-wrap: balance;
  margin-bottom: 4px;
  .park-heading-icon {
    width: 1.25rem;
    height: 1.25rem;
    font-size: 1.25rem;
    rotate: 270deg;
    margin: 0 0 4px 8px;
  }
}

.search-results-main {
  .park-search-text-box-container {
    padding-right: 20px;
  }

  #search-results {
    box-sizing: border-box;
    overflow: hidden;
    z-index: 2;
    top: 200px;
    width: 100%;
    padding: 0;
    text-align: left;
  }

  .text-blue {
    color: $colorBlue;
  }

  .search-results-list {
    padding: 0px !important;
    .more-result-text {
      margin-top: 42px;
      margin-bottom: 0;
    }
    button.bcgov-normal-blue,
    button.bcgov-normal-white {
      height: 50px;
    }
  }

  .park-links {
    a.map-link {
      svg.MuiSvgIcon-root {
        font-size: 1rem;
      }
    }
  }

  .park-filter-select [class*="-control"] {
    border-radius: 5px !important;
  }

  .search-results-quick-filter {
    .MuiLink-underlineHover {
      text-decoration-color: $colorBlueMed;
      &:hover {
        color: $colorBlueMed;
        &:focus {
          color: inherit;
        }
      }
    }
    
    .filter-heading {
      color: $colorBlack;
      font-size: 1rem;
      font-weight: 700;
      padding: 10px 0;
    }

    .select-padding {
      padding-top: 20px !important;
      padding-right: 20px !important;
    }
  }

  .close-margin {
    padding-left: 0px !important;
    padding-top: 0px !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
  }

  .park-card {
    padding: 0px !important;
  }

  .park-card-desktop {
    height: 200px !important;
  }

  .small-font {
    font-size: 0.875rem !important;
  }

  .remove-link {
    display: inline-block !important;
    padding-left: 20px !important;
  }

  .MuiPaginationItem-page {
    color: $colorBlue;
  }

  .MuiPaginationItem-root {
    border-radius: 0px !important;
    background-color: $colorWhite !important;
  }

  .park-content {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    padding: 16px;
    width: calc(100%-250px);
    &-top,
    &-bottom {
      width: 100%;
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
      &--left {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        margin-right: 8px;
        a {
          color: $colorBlue;
          text-decoration: underline;
          text-decoration-color: $colorBlue;
          margin-left: 4px;
          p {
            font-size: 0.875rem;
            margin-bottom: 0;
          }
        }
      }
      &--right {
        min-width: 160px;
      }
    }
  }

  // park card icon
  .access-status-icon, .campfire-ban-icon {
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: $colorText;
    a {
      color: $colorBlue;
      text-decoration: underline;
      text-decoration-color: $colorBlue;
    }
  }

  .access-status-icon {
    margin-bottom: 8px;
    img {
      width: 24px;
      height: 24px;
    }
  }

  .park-content-mobile {
    padding: 16px;
    a {
      display: block;
      color: $colorBlue;
      text-decoration: underline;
      text-decoration-color: $colorBlue;
      margin-top: 8px;
      p {
        font-size: 0.875rem;
      }
    }
  }

  .MuiPaginationItem-page.Mui-selected {
    background-color: $colorBlue !important;
    color: $colorWhite !important;
  }

  .MuiPaginationItem-page.Mui-selected:hover {
    background-color: #00468b !important;
  }

  .MuiChip-outlined {
    background-color: $colorBlue !important;
    border-radius: 5000px !important;
    &:hover,
    &:focus {
      background-color: #00468b !important;
    }
    &:focus-visible {
      outline: 2px solid #00468b;
      outline-offset: 2px;
    }
  }

  .MuiChip-label {
    color: $colorWhite !important;
  }

  .MuiPaginationItem-page.Mui-disabled {
    opacity: 0.5 !important;
  }

  .MuiPaginationItem-ellipsis {
    background-color: transparent !important;
  }

  .search-icon {
    color: #00468b !important;
  }

  .close-icon {
    color: $colorWhite !important;
  }

  .close-icon:hover {
    color: $colorGrey !important;
  }

  .close-icon {
    width: 17px !important;
  }

  .clear-icon-button {
    height: auto !important;
    .clear-icon {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .large-pagination {
    display: block !important;
  }

  .small-pagination {
    display: none !important;
  }

  .MuiPaper-elevation1 {
    box-shadow: none !important;
    border-radius: 10px !important;
  }

  .park-quick-link {
    font-size: 0.875rem !important;
    padding: 0px !important;
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1440px !important;
    }
  }

  @media (max-width: 575.98px) {
    .large-pagination {
      display: none !important;
    }

    .small-pagination {
      display: block !important;
    }
    .small-m-auto {
      margin: auto !important;
    }
    .small-flex-display {
      display: flex !important;
    }
    .park-content {
      margin: 0px 10px !important;
    }

    .park-overview-content {
      margin-top: 5px !important;
    }
  }
}

.no-results-container {
  padding-top: 16px;
  .no-results-header {
    display: flex;
    margin-bottom: 24px;
    svg.MuiSvgIcon-root {
      font-size: 3rem;
      @media (max-width: $smBreakpoint) {
        display: none;
      }
    }
    &--right {
      padding-left: 16px;
      @media (max-width: $smBreakpoint) {
        padding-left: 0;
      }
    }
  }
  h2 {
    color: #000;
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }
  a, button {
    color: $colorBlueMed;
    &:hover {
      color: $colorBlue;
    }
  }
  a {
    text-decoration: underline;
    &.map-link {
      svg.MuiSvgIcon-root {
        font-size: 1rem !important;
      }
    }
  }
  button {
    margin-bottom: 0;
    &:focus-visible {
      outline-offset: 1px;
      outline: -webkit-focus-ring-color auto 1px;
    }
  }
}


@media (min-width: 1350px) {
  .search-results-main {
    // Added 30px extra to compensate padding
    max-width: 1350px !important;
  }
}

@media (max-width: $mediumBreakpoint) {
  .p20l-filter {
    padding-left: 0px !important;
  }
}

@media (max-width: 575.98px) {
  .bcgov-button {
    min-width: 0px !important;
    min-height: 0px !important;
  }
  .flex-display-list {
    display: block !important;
  }

  .sm-p10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .search-results-main .search-results-list {
    padding: 0px 16px !important;
  }

  .w50 {
    width: 50% !important;
  }
}

//Added to hide styles printed on screen
head {
  display: none !important;
}

.pagination-text {
  margin-top: 32px;
  color: $colorBlue;
}

a.desktop-park-link {
  color: $colorBlue;
  &:focus-visible {
    border-radius: 1px;
    outline-offset: 0;
    outline: 2px solid Highlight;
    outline: 2px solid -webkit-focus-ring-color;
  }
  &:focus, &:hover {
    color: $colorBlue;
  }
}

// new park name and city name search form
.park-search-typeahead,
.city-search-typeahead {
  width: 100%;
  .form-group {
    margin: 0;
    input.form-control {
      height: 50px;
      color: $colorText;
      font-size: 1rem;
      box-shadow: none;
      border-color: $colorGreyMed;
      padding: 8px 16px;
      &:hover {
        border-width: 2px;
      }
      &:focus {
        border-width: 3px;
        padding: 18px 16px 0;
      }
      &[aria-expanded="true"] {
        border-radius: 4px 4px 0 0;
      }
      &:focus~label, 
      &:not(:placeholder-shown)~label {
        font-size: 0.75rem;
        opacity: .65;
        transform: translateY(-0.5rem) translateX(0.15rem);
      }
    }
    label {
      height: auto;
      position: absolute;
      top: 12px;
      left: 20px;
      color: $colorGreyMed;
      border: none;
      margin: 0;
      padding: 0;
      pointer-events: none;
      transform-origin: 0 0;
      transition: opacity .1s ease-in-out,transform .1s ease-in-out;
    }
  }
  &.has-text--true {
    input.form-control {
      border-width: 3px;
      padding: 18px 16px 0;
    }
  }
  .dropdown-menu {
    width: 100%;
    max-height: 360px !important;
    border-top: none;
    border-width: 3px;
    border-color: $colorGreyMed;
    border-radius: 0 0 4px 4px;
    margin: 0;
    padding: 16px;
    a.dropdown-item {
      overflow: visible;
      white-space: normal;
      margin-top: 16px;
      padding: 0;
      &:first-of-type {
        margin-top: 0;
      }
      &:hover, &:focus, &:active, &.active {
        color: $colorText;
        background-color: transparent;
        text-decoration: underline;
      }
      &.no-suggestion-text {
        cursor: default;
        text-decoration: none;
      }
    }
  }
  .rbt-aux {
    width: auto;
    button.close {
      width: 44px;
      height: 44px;
      margin: 0;
    }
    .spinner-border {
      width: 32px;
      height: 32px;
      color: rgba($colorGreyMed, .5);
      border-right-color: rgba($colorGreyMed, .2);
      border-width: 4px;
      margin-right: 6px;
    }
  }
}

// new search header section
.search-header {
  min-height: 332px;
  display: flex;
  align-items: center;
  background-color: #C7E3FD;
  @media screen and (min-width: $mdBreakpoint) {
    min-height: 164px;
  }
  @media screen and (min-width: $lgBreakpoint) {
    min-height: 98px;
  }
  .container {
    display: block;
    padding: 0 16px;
    @media screen and (min-width: $smBreakpoint) {
      padding: 0;
    }
    @media screen and (min-width: $mdBreakpoint) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    @media screen and (min-width: $lgBreakpoint) {
      flex-wrap: nowrap;
    }
    @media (min-width: 1350px) {
      max-width: 1350px;
    }
    .search-header-container {
      &--left {
        h1 {
          font-size: 2rem;
          line-height: 50px;
          margin-bottom: 0;
        }
      }
      &--right {
        display: block;
        margin-top: 24px;
        @media screen and (min-width: $mdBreakpoint) {
          display: flex;
          align-items: center;
          margin-top: 16px;
        }
        @media screen and (min-width: $lgBreakpoint) {
          margin-top: 0;
        }
        span.or-span {
          width: 100%;
          display: inline-block;
          font-size: 1.125rem;
          text-align: center;
          margin: 8px 0;
          @media screen and (min-width: $mdBreakpoint) {
            width: auto;
            margin: 0 24px;
          }
        }
        .park-search-typeahead, .city-search-typeahead {
          width: 100%;
          @media screen and (min-width: $mdBreakpoint) {
            width: calc((100% - 150px) / 2);
          }
          @media screen and (min-width: $lgBreakpoint) {
            width: calc((100% - 180px) / 2);
          }
        }
        button.bcgov-normal-blue {
          width: 100%;
          margin-top: 16px;
          margin-left: 0;
          @media screen and (min-width: $mdBreakpoint) {
            width: 100px;
            margin-top: 0;
            margin-left: 16px;
          }
          @media screen and (min-width: $lgBreakpoint) {
            width: 130px;
          }
        }
      }
    }
  }
}

// permission toast
.toast {
  width: 300px;
  min-height: 100px;
  position: fixed;
  top: 16px;
  right: calc(50% - 150px);
  z-index: 2;
  border: none;
  border-radius: 0;
  box-shadow: 0px 4px 8px 0px rgba($colorBlack, .2);
  @media screen and (min-width: $smBreakpoint) {
    width: 360px;
    right: 24px;
  }
  .toast-header {
    color: $colorText;
    font-size: 1rem;
    border: none;
    padding: 16px 16px 8px;
    button.close {
      margin: 0 !important;
    }
  }
  .toast-body {
    color: #656565;
    background-color: $colorWhite;
    padding: 0 16px 16px;
  }
}