@import "variables.scss";

.MuiTypography-root {
  font-family: $globalFont;
  font-size: $bodyFont !important;
}

.MuiButton-root {
  text-transform: none !important;
  font-family: $globalFont;
}

.search-body {
  background-color: $colorGrey !important;
}


.park-search { 
  .park-search-text-box {
    width: 80% !important;
    @media screen and (max-width: $mediumBreakpoint) {
      width: 100% !important;
      .MuiOutlinedInput-adornedStart {
        height: 100%;
      }
    }

    .MuiOutlinedInput-root {
      width: 100% !important;
      max-width: 700px !important;
      background-color: $colorWhite !important;
      border: none !important;
      font-size: $bodyFont !important;
      font-family: $globalFont;
      height: 50px;
    }
    .MuiOutlinedInput-input {
      padding: 10px 20px !important;
      margin-right: 10px !important;

      @media screen and (max-width: $mediumBreakpoint) {
        padding: 0 !important;
      }
    }
    .MuiOutlinedInput-root:focus {
      outline-offset: 1px !important;
    }
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border: 1px solid $colorBlue !important;
    }
  }

  .search-icon-fab {
    background-color: rgba(252, 186, 25, 1);
    margin-left: -30px !important;
    margin-top: -10px !important;
    width: 70px !important;
    height: 70px !important;
    .search-icon {
      color: rgba(0, 51, 102, 0.8);
      font-size: 2rem;
    }
  }
}

.search-results-main {
  .park-search-text-box {
    width: 100% !important;

    .MuiOutlinedInput-root {
      width: 100% !important;
      max-width: 700px !important;
      background-color: $colorWhite !important;
      border: none !important;
      border-radius: 5px !important;
      font-size: $bodyFont !important;
      font-family: $globalFont;
    }
    .MuiOutlinedInput-input {
      padding: 10px 7px !important;
    }
    .MuiOutlinedInput-root:focus {
      outline: none !important;
      outline-offset: 1px !important;
    }
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border: 1px solid $colorBlue !important;
    }
  }
  .park-filter-select [class*="-control"] {
    border-radius: 50px !important;
    background-color: $colorWhite !important;
    font-family: $globalFont;
    font-size: $bodyFont !important;
  }
}

.heading-white-space {
  white-space: normal;
}

.park-search-container-wrapper {
  overflow-x: hidden;
}

.park-search {
  font-family: $globalFont;
  width: 100%;
  position: relative;  
  overflow-y: hidden;    

  @media screen and (min-width: $lgBreakpoint) {
    max-height: 636px;
  }

  @media screen and (max-width: $mediumBreakpoint) {
    height: 550px;
    img {
      height: 550px !important;
      object-fit: cover;
    }
  }

  img {
    width: 100%;
  }
  .park-search-container {
    position: absolute;
    z-index: 1299;
    overflow: visible;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    font-family: $globalFont;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    color: rgba(255, 249, 249, 1);

    .mobile-search-element-height {
      height: 50px;
    }

    @media screen and (max-width: $mediumBreakpoint) {
      height: inherit;
      top: unset !important;
    }

    @media screen and (max-width: $mediumBreakpoint) {
      h2 {
        font-size: 2.3125rem;
      }
      button > span {
        font-size: 0.875rem;
      }
      .mobile-filter {
        border: 1px solid $colorWhite !important;
        width: 100%;
      }
      .mobile-search-element-height {
        height: 53px !important;
      }
    }

    @media screen and (min-width: 376px) and (max-width: $mediumBreakpoint) {
      .park-search-group {
        padding: 0 17%;
      }
    }

    @media screen and (min-width: $lgBreakpoint) {
      background: url("../images/u149.svg");
      bottom: 0;
      top: unset;
      width: 50%;
      height: 100%;
      transform: skewX(20deg);
      transform-origin: bottom;
    }
  }

  .park-search-container-inner {
    @media screen and (min-width: $lgBreakpoint) {
      height: 100%;
      > div {
        padding-left: 15%;
      }
    }
  }

  .park-search-container-inner-align{
    @media screen and (min-width: $lgBreakpoint) {
      max-width: 500px;
    }
  }

  #search-title {
    font-family: $globalFont;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    padding: 30px;
  }

}

.park-search-text-wrapper {
  @media screen and (min-width: $lgBreakpoint) {
    padding-left: 40px !important;
  }
}

.yellow-divider {
  background-color: $colorGold;
  height: 3px;
}

.grey-divider-light {
  background-color: $colorGrey;
}

.vertical-divider {
  height: 100%;
  background-color: $colorGrey;
}

.divider-div {
  padding: 0px 25px !important;
}

.grey-divider {
  height: 3px;
  background-color: $colorGrey;
}

.filter-options-container {
  .MuiTypography-root {
    color: $colorText;
  }
  .MuiIconButton-root .MuiSvgIcon-root {
    font-size: 1.875rem;
    color: $colorText;
  }

  .Mui-checked .MuiSvgIcon-root {
    color: $colorBlueLight !important;
  }
}

.park-filter-dialog {
  font-size: $bodyFont !important;
  font-family: $globalFont;

  .park-filter-title {
    color: $colorText;
  }

  .park-filter-options {
    background-color: $colorWhite !important;
    border-radius: 5px;
  }

  .park-filter-option-label {
    height: 60px !important;
    color: $colorBlue !important;
  }

  .park-filter-dialog-content .MuiTypography-root {
    font-family: $globalFont;
    font-size: $bodyFont !important;
  }

  .park-filter-dialog-content {
    padding: 10px !important;
  }

  .MuiDialog-paperWidthSm {
    border-radius: 0px !important;
    background-color: $colorGrey !important;
    width: 1000px !important;
    max-width: 1000px !important;
  }

  .park-filter-select [class*="-control"] {
    border-radius: 5px !important;
    background-color: $colorWhite !important;
    font-family: $globalFont;
    font-size: $bodyFont !important;
  }

  .bcgov-button {
    height: 50px;
  }

  .search-icon {
    color: #00468b !important;
  }
}
.park-filter-dialog,
.search-results-main {
  .MuiCheckbox-root {
    color: $colorBlue !important;
    padding: 0px !important;
    padding-right: 10px !important;
  }

  .MuiCheckbox-root:hover {
    background-color: $colorGrey !important;
  }

  .no-filters-text {
    font-style: italic;
    text-align: center;
    padding: 15px;
  }

  .park-filter-text {
    .MuiOutlinedInput-root {
      border-radius: 5px !important;
      background-color: $colorWhite !important;
      font-family: $globalFont;
      font-size: $bodyFont !important;
      height: 50px;
    }
  }

  .MuiButton-root {
    font-size: $bodyFont !important;
    width: 100% !important;
    border-radius: 5px !important;
  }

  div[class$="-placeholder"] {
    color: #9b9b9b !important;
    font-family: $globalFont;
  }

  .park-filter-chip-list-container {
    padding: 10px 20px !important;
  }

  .park-filter-chip-list {
    border: none !important;
    padding-right: 10px;
    margin-top: -5px;
  }

  .close-icon-blue {
    color: $colorBlue;
  }

  .park-filter-chip {
    margin: 2px 3px !important;
    min-width: 130px;

    .MuiChip-label {
      text-align: left !important;
    }

    .MuiChip-deleteIcon {
      margin-left: 5px;
    }
  }

  .MuiChip-label {
    color: $colorBlue !important;
    font-size: 0.8rem !important;
    font-family: $globalFont;
  }
  .park-select-label {
    font-size: $bodyFont !important;
    padding-bottom: 10px !important;
    font-weight: bold;
  }
}

div[class$="-MenuList"] div[class$="-option"],
div[class$="-singleValue"] {
  color: $colorBlue !important;
  font-family: $globalFont;
  font-size: $bodyFont !important;
}

#park-search-box {
  height: 47px;
  width: 100%;
  border-radius: 25px;
  border: 0px;
  display: inline;
  margin: 40px;
}

.park-search-text-container {
  padding: 20px 0 20px 0 !important;
}

.park-search-filter {
  padding-left: 30px !important;
  color: $colorWhite !important;
  font-size: $bodyFont !important;
  text-decoration: underline !important;

  @media screen and (min-width: $lgBreakpoint) {
    padding-left: 40px !important;
    transform: skewX(-20deg);
  }
}

.park-search-intro {
  padding: 0 20px 0 20px !important;
  > p {
    font-size: 1rem;
    white-space: normal;
  }

  @media screen and (min-width: $lgBreakpoint) {
    transform: skewX(-20deg);
    padding-left: 80px !important;
    > h2 {
      font-size: 1.5rem;
      padding-right: 20px;
    }
  }
}

.pb20 {
  padding-bottom: 20px;
}

.p10 {
  padding: 10px !important;
}

.p20 {
  padding: 20px !important;
}

.p25 {
  padding: 25px !important;
}

.p10t {
  padding-top: 10px !important;
}

.p20t {
  padding-top: 20px !important;
}

.p30t {
  padding-top: 30px !important;
}

.p40t {
  padding-top: 40px !important;
}

.p30 {
  padding: 30px !important;
}

.p30lr {
  padding: 0px 30px !important;
}

.p0 {
  padding: 0px !important;
}

.p5l {
  padding-left: 5px !important;
}

.p20lr {
  padding: 0px 20px !important;
}

.p10l {
  padding-left: 10px !important;
}

.p15l {
  padding-left: 15px !important;
}

.p20l,
.p20l-filter {
  padding-left: 20px !important;
}

.m20t {
  margin-top: 20px !important;
  @media screen and (min-width: $lgBreakpoint) {
    &:first-of-type {
      margin-top: 0 !important;
    }
  }
}

.m15t {
  margin-top: 15px !important;
}

.m10t {
  margin-top: 10px !important;
}


.p2030 {
  padding: 20px 30px !important;
}

.pr3 {
  padding-right: 3px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pr20 {
  padding-right: 20px;
}

.pr30 {
  padding-right: 30px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.mtm5 {
  margin-top: -5px !important;
}

.mtm7 {
  margin-top: -7px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mt8 {
  margin-top: 8px !important;
}

.mb20 {
  margin-bottom: 20px;
}

.h50p,
.h50p .MuiInputBase-root,
.h50p [class*="-control"],
.h50p button {
  height: 50px !important;
}

.bcgov-normal-blue {
  color: $colorWhite !important;
  font-style: normal !important;
  background-color: $colorBlue !important;
  font-family: $globalFont;

  @media screen and (max-width: $mediumBreakpoint) {
    font-weight: normal !important;
  }
  box-shadow: unset !important;
}

.bcgov-normal-blue:hover {
  background-color: $colorBlue !important;
  color: $colorWhite !important;
}

.bcgov-normal-white {
  color: $colorBlue !important;
  font-style: normal !important;
  background-color: $colorWhite !important;
  font-family: $globalFont;
  box-shadow: unset !important;
}

.bcgov-normal-white:hover {
  background-color: $colorBlue !important;
  color: $colorWhite !important;
}

.bcgov-normal-gold {
  background-color: $colorGold !important;
}
.bcgov-normal-transparent {
  color: $colorBlue !important;
  font-style: normal !important;
  background-color: transparent !important;
  border: 1px solid $colorBlue !important;
  font-family: $globalFont;
  box-shadow: unset !important;
}

.bcgov-normal-transparent:hover {
  border-width: 1px !important;
  border-style: solid !important;
  background-color: $colorWhite !important;
}

.bcgov-button {
  height: 39px;
}

.no-wrap {
  white-space: nowrap !important;
}

.bcgov-loader-show {
  display: inline-block !important;
}

.park-af-list {
  display: inline-block !important;
}

.flex-display,
.flex-display-list {
  display: flex !important;
}

.ml-auto {
  margin-left: auto !important;
}

.pointer {
  cursor: pointer !important;
}

.align-center {
  text-align: center;
  vertical-align: middle;
}

.m-auto {
  margin: auto !important;
}

.text-black {
  color: $colorText !important;
}

.text-light-blue {
  color: $colorBlueLight !important;

  .MuiTypography-root {
    color: $colorBlueLight !important;
  }
}

.link {
  color: $colorBlueLight !important;
}

.link-white {
  color: $colorWhite !important;
}

.link-white:hover,
.link:hover {
  cursor: pointer !important;
}

.background-blue {
  background-color: $colorBlue;
}

.park-quick-view-dialog .MuiPaper-elevation24 {
  box-shadow: unset !important;
}

.park-quick-view-dialog .MuiDialogContent-root {
  padding: 0px !important;
}

.park-image-div {
  height: 370px !important;
  width: 400px !important;
  padding-right: 0px !important;
}

.park-image-div-mobile {
  height: 300px !important;
  width: 100% !important;
  padding-right: 0px !important;
}

.park-image-logo-div {
  background-color: $colorBlue;
}

.search-result-logo-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 35% !important;
}

.park-quick-view-dialog-content {
  overflow-x: hidden !important;

  .park-carousel-mobile [class*="Carousel-prev"] {
    margin-left: -20px !important;
  }
}

.park-carousel,
.park-carousel-mobile,
.CarouselItem,
.CarouselItem div {
  height: 100% !important;
}
.park-carousel [class*="Carousel-prev"],
.park-carousel-mobile [class*="Carousel-prev"] {
  margin-left: -10px !important;
}

.park-carousel [class*="Carousel-next"] {
  margin-right: -25px !important;
}

.park-carousel-mobile [class*="Carousel-next"] {
  margin-right: -10px !important;
}

.park-carousel [class*="Carousel-prev"] button,
.park-carousel-mobile [class*="Carousel-prev"] button {
  padding-left: 15px !important;
}

.park-carousel [class*="Carousel-next"] button,
.park-carousel-mobile [class*="Carousel-next"] button {
  padding-right: 15px !important;
}

.park-carousel .MuiButtonBase-root,
.park-carousel-mobile .MuiButtonBase-root {
  background-color: rgba(48, 48, 48, 0.7) !important;
}

.search-result-image {
  width: 100% !important;
  object-fit: cover !important;
  height: 100% !important;
  object-position: 0% 5%;
}

.search-result-icon {
  width: 32px !important;
  height: 32px !important;
}

.search-result-card {
  min-height: 300px !important;
}

.park-heading-text {
  color: $colorBlue;
  font-size: 1.33882rem;
  margin-top: 10px;
}

.search-results-main {
  .park-search-text-box-container {
    padding-right: 20px;
  }

  #search-results {
    box-sizing: border-box;
    overflow: hidden;
    z-index: 2;
    top: 200px;
    width: 100%;
    padding: 0;
    text-align: left;
  }

  .search-results-container {
    padding-top: 40px !important;
  }

  .text-blue {
    color: $colorBlue;
  }

  .search-results-list {
    padding: 0px !important;
  }

  a.map-link {
    font-size: 1rem;
    color: $colorBlue;
    // this was failing accessibility, so it's been changed to behave like
    // text links in body copy
    &:hover {
      color: $colorGold;
    }
  }

  .park-filter-select [class*="-control"] {
    border-radius: 5px !important;
  }

  .search-results-quick-filter {
    .filter-heading {
      color: $colorBlack;
      font-size: 1rem;
      font-weight: 700;
      padding: 10px 0;
    }

    .select-padding {
      padding-top: 20px !important;
      padding-right: 20px !important;
    }
  }

  .close-margin {
    padding-left: 0px !important;
    padding-top: 0px !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
  }

  .park-card {
    padding: 0px !important;
    min-height: 350px !important;
  }

  .park-card-desktop {
    height: 370px !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
  }

  .small-font {
    font-size: 0.875rem !important;
  }

  .remove-link {
    display: inline-block !important;
    padding-left: 20px !important;
  }

  .MuiPaginationItem-page {
    color: $colorBlue;
  }

  .MuiPaginationItem-root {
    border-radius: 0px !important;
    background-color: $colorWhite !important;
  }

  .park-content-mobile {
    padding: 0px 30px;
  }

  .park-overview-content {
    height: 100% !important;
    top: 20% !important;
  }

  .MuiPaginationItem-page.Mui-selected {
    background-color: $colorBlue !important;
    color: $colorWhite !important;
  }

  .MuiPaginationItem-page.Mui-selected:hover {
    background-color: #00468b !important;
  }

  .MuiChip-outlined {
    background-color: $colorBlue !important;
    border-radius: 5000px !important;
  }

  .MuiChip-label {
    color: $colorWhite !important;
  }

  .MuiPaginationItem-page.Mui-disabled {
    opacity: 0.5 !important;
  }

  .MuiPaginationItem-ellipsis {
    background-color: transparent !important;
  }

  .search-icon {
    color: #00468b !important;
  }

  .close-icon {
    color: $colorWhite !important;
  }

  .close-icon:hover {
    color: $colorGrey !important;
  }

  .close-icon {
    width: 17px !important;
  }

  .large-pagination {
    display: block !important;
  }

  .small-pagination {
    display: none !important;
  }

  .MuiPaper-elevation1 {
    box-shadow: none !important;
    border-radius: 10px !important;
  }

  .park-quick-link {
    font-size: 0.875rem !important;
    padding: 0px !important;
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1440px !important;
    }
  }

  @media (max-width: 575.98px) {
    .large-pagination {
      display: none !important;
    }

    .small-pagination {
      display: block !important;
    }
    .small-m-auto {
      margin: auto !important;
    }
    .small-flex-display {
      display: flex !important;
    }
    .search-results-quick-filter {
      padding-right: 10px !important;
      padding-left: 10px !important;
    }
    .park-content {
      margin: 0px 10px !important;
    }

    .park-overview-content {
      margin-top: 5px !important;
    }
  }
}

.no-results-container {
  min-height: 380px !important;
  background-color: $colorGreyLight;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 8px;
}


@media (min-width: 1350px) {
  .search-results-main {
    // Added 30px extra to compensate padding
    max-width: 1350px !important;
  }
}

@media (max-width: $mediumBreakpoint) {
  .p20l-filter {
    padding-left: 0px !important;
  }
}

@media (max-width: 575.98px) {
  .bcgov-button {
    min-width: 0px !important;
    min-height: 0px !important;
  }
  .flex-display-list {
    display: block !important;
  }

  .sm-p10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .search-results-main .search-results-list {
    padding: 0px 10px !important;
  }

  .w50 {
    width: 50% !important;
  }
}

//Added to hide styles printed on screen
head {
  display: none !important;
}
