@import "variables.scss";

.bcp-landing-intro {
  max-width: 1440px;
  margin: 0 auto;

  @media screen and (min-width: $mdBreakpoint) {
    display: flex;
    flex-wrap: nowrap;
  }

  h1 {
    color: $colorBlue;
    margin: 27px 0 13px;

    @media screen and (min-width: $mdBreakpoint) {
      margin-top: 40px;
      margin-bottom: 93px;
    }

    @media screen and (min-width: $lgBreakpoint) {
      margin-top: 60px;
    }

    @media screen and (min-width: $xlBreakpoint) {
      margin-top: 107px;
    }
  }

  &__image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    @media screen and (min-width: $mdBreakpoint) {
      height: auto;
      margin-left: auto;
      order: 2;
      width: 50vw;
    }
    @media screen and (min-width: 1440px) {
      width: 720px;
    }
  }

  &__text {
    margin: 24px 0 4px;

    @media screen and (min-width: $mdBreakpoint) {
      order: 1;
      max-width: 50%;
      padding: 16px;
    }

    @media screen and (min-width: 1440px) {
      padding-right: 110px;
      padding-left: 165px;
    }
  }
}

.bcp-landing-links {
  width: 100%;
  background-color: $colorBackgroundGrey;
  padding: 32px 0;

  @media screen and (min-width: $mdBreakpoint) {
    padding: 72px 0;
  }

  .container {
    max-width: 1000px;
    padding: 0 16px;
    @media screen and (min-width: $mdBreakpoint) {
      padding: 0 20px;
    }
    & > div {
      margin: 32px 0;
    }
  }
}

.bcp-landing-park-search {
  background-color: $colorBlueMed;
  width: 100%;

  .container {
    max-width: 1000px;
    padding: 72px 20px;
  }
}

.parks-search-wrapper {
  color: $colorWhite;
}

.parks-search-field {
  margin-top: 15px;
  display: flex;
}
