:root {
  --color-blue: #003366;
  --color-med-blue: #2464a4;
  --color-light-blue: #ecf6ff;
  --color-grey: #1a1a1a;
  --color-med-grey: #656565;
  --color-light-grey: #c7c7c7;
  --color-background-grey: #f2f2f2;
  --color-yellow: #fcba19;
  --color-red: #d8292f;
}

body {
  margin: 0;
  font-family: 'BC Sans', 'Noto sans', Verdana, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  min-height: 100vh !important;
  position: relative;
  color: var(--color-grey) !important;
}

h1, h2 {
  color: var(--color-blue);
}

a {
  color: var(--color-med-blue) !important;
}

a:hover {
  color: var(--color-blue) !important;
}

a:focus-visible {
  outline: 2px auto var(--color-med-blue) !important;
  outline-offset: 2px !important;
}

.page-loader {
  padding-top: 20% !important;
  text-align: center !important;
}