@import '../variables.scss';

.link-card {
  border: none;
  background-color: $colorBluePrimary;
  border-radius: 12px;
  overflow: hidden;
  margin: 16px 5%;
  height: 100%;
  position: relative;
  text-decoration: none;
  width: 90%;

  @media screen and (min-width: $desktopBreakpoint) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .card-img {
    height: 65%;
    overflow: hidden;
    margin-bottom: unset;
    transition: border-left-width 250ms linear;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: transform 250ms linear;
    }
  }

  .card-body {
    color: $colorWhite;
    width: 100%;
    height: 35%;
    display: flex;
    flex-grow: 0;
    justify-content: center;
    flex-direction: column;
    padding: 10px 50px;

    @media screen and (min-width: $desktopBreakpoint) {
      height: 30%;
    }

    @media screen and (max-width: 414px) {
      padding: 10px 30px;
    }
  }

  .card-body-header {
    margin-bottom: 5px;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: $colorWhite;

    @media screen and (max-width: 414px) {
      font-size: 1.5rem;
      margin-bottom: 5px;
    }
  }

  .card-text {
    font-size: 1rem;
    margin-top: 0;
    text-decoration: none;

    @media screen and (min-width: $desktopBreakpoint) {
      font-size: 1.2rem;
    }
  }

  .card-button {
    background: $colorWhite;
    color: $colorBluePrimary;
    width: 180px;
    padding: 10px 20px;
    line-height: 30px;
    border-radius: 4px;
    display: inline-flex;
    margin-top: auto;
    text-decoration: none;

    i {
      margin: auto 0 auto auto;
      font-size: 1rem;
    }

    @media screen and (max-width: $desktopBreakpoint) {
      display: none;
    }
  }

  &--horz {
    @media screen and (min-width: $desktopBreakpoint) {
      height: 330px;
      flex-direction: row;

      .card-img {
        height: 100%;
        width: 50%;
        order: 2;
      }

      .card-body {
        padding: 50px;
        height: 100%;
        width: 50%;
        order: 1;

        .card-body-header {
          width: 375px;
          line-height: 2.25rem;
        }
      }

      .card-text {
        margin-top: auto;
      }
    }

    @media screen and (max-width: $desktopBreakpoint) {
      .card-body-header {
        font-size: 1.5rem;
      }
    }
  }

  &--light {
    background-color: $colorWhite;
    color: $colorBluePrimary;

    .card-body-header {
      color: $colorBluePrimary;
    }

    .card-text {
      color: $colorBluePrimary;
    }

    .card-button {
      border: 2px solid $colorBluePrimary;
      transition: border-color 150ms;
    }

    .card-img {
      border-radius: 0;

      @media screen and (min-width: $desktopBreakpoint) {
        border-left: 0 solid $colorGoldPrimary;
      }
    }
  }

  &:hover {
    text-decoration: none;

    .card-body-header {
      color: $colorWhite;
      text-decoration: underline;
    }

    .card-text {
      color: $colorWhite;
    }

    .card-button {
      color: $colorBluePrimary;
      background: $colorGoldPrimary;
    }

    &.link-card--horz {
      background-color: $colorBluePrimary;

      .card-body-header {
        color: $colorWhite;
      }

      .card-text {
        color: $colorWhite;
      }
    }

    &.link-card--landing-page {
      background-color: $colorWhite;

      .card-button {
        border-color: $colorGoldPrimary;
      }

      .card-body-header {
        color: $colorBluePrimary;
        text-decoration: none;
      }

      .card-text {
        color: $colorBluePrimary;
      }

      .card-img {
        @media screen and (min-width: $desktopBreakpoint) {
          border-left-width: 8px;
        }

        img {
          transform: scale(1.15);
        }
      }
    }
  }
}
