@import '../variables.scss';

.page-section {
    margin-top:80px;
}

h2.page-section-title {
    position: relative;
    margin-top: 80px;
    margin-bottom: 40px;
    &::after {
        position: absolute;
        content: "";
        background-color: $colorGoldPrimary;
        height: 2px;
        width: 75px;
        bottom: -12px;
        left: 0;
      }
}

/* style variation for home */
#home {
    .page-section {
        text-align: center;
    }
    .page-section-title {
        font-size: 36px;
        color: $colorBluePrimary;
        font-weight: 700;
    }
    .page-section-hr {
        margin: 20px;
        & hr {    
            background-color: $colorGoldPrimary;
            display: inline-block;
            height: 1px;
            margin-top: 5px;
            width: 75px;
        }
    }
}

