.button-row {
  text-align: center !important;
  align-items: center !important;
}

.ad-label {
  text-align: right;
  padding-top: 8px;
}

.ad-summary-label {
  text-align: right;
}

.urgency-btn-group button,
.safety-btn-group button {
  width: 100px;
  height: 40px;
  line-height: 1;
  border-radius: 100px;
  padding: 0;
}
.urgency-btn-group button .MuiButton-label,
.safety-btn-group button .MuiButton-label {
  font-size: 1rem;
}
.urgency-btn-group button .MuiButton-label .MuiSvgIcon-root,
.safety-btn-group button .MuiButton-label .MuiSvgIcon-root {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}

.ad-btn-group .bcgov-button {
  margin-right: 5px !important;
}

.ad-field {
  padding: 10px;
  border-radius: 4px !important;
}

.ad-disabled {
  background-color: #f0f2f5 !important;
}

.ad-flex,
.ad-link-flex {
  display: flex;
}

.ad-link-close {
  margin-left: auto !important;
}

.ad-flex-wrap {
  flex-wrap: wrap !important;
}

.ad-flex-date {
  display: flex;
}

#ad-confirm {
  text-align: center !important;
  line-height: 30px !important;
  color: #234075 !important;
}

#ad-confirm span {
  font-weight: bold;
}

.ad-interval-box .fa-chevron-down {
  top: 15px !important;
  right: 0px !important;
}

.row {
  padding: 5px 0px;
}

.row.heading {
  font-weight: bold;
  font-size: 1.125rem;
  color: var(--color-grey);
  background-color: var(--color-background-grey);
  margin: 32px 0;
  padding: 4px 16px !important;
}

.row.title h2 {
  color: var(--color-blue);
}

.ad-af-hour-box {
  margin-top: 10px !important;
}

.ad-af-hour-box .field-bg-blue {
  padding: 15px;
}

.ad-af-hour-box p {
  margin-bottom: 0px !important;
}

.ad-af-hour-box svg.warningIcon {
  font-size: 44px;
}

.ad-interval-select {
  width: 100% !important;
  margin-left: 8px !important;
}

.ad-link-select {
  width: calc(100% - 48px) !important;
}

.ad-link-group div {
  padding-bottom: 5px !important;
}

.ad-auto-margin {
  margin: auto !important;
}

.ad-add-link:not(.ad-link-close) {
  height: 40px;
  font-size: 0.875rem;
  line-height: 2;
  background-color: white;
  border-radius: 100px;
  border: 1px solid var(--color-med-grey);
  padding: 0 16px;
}

.ad-add-link.add-file {
  margin-right: 16px;
}

.ad-add-link.add-url{
  margin-left: 16px;
}

.clear-url-btn {
  position: absolute !important;
  right: 8px;
  background-color: white !important;
}

.clear-url-btn:hover, .clear-url-btn:active {
  background-color: white !important;
}

.ad-btn-row {
  display: table-row !important;
}

.ad-date-label {
  min-width: 115px !important;
}
.ad-form-error {
  text-align: center !important;
}

.ad-form .MuiButton-contained {
  box-shadow: none !important;
}

.ad-upload-btn {
  height: 44px !important;
}

.helpIcon {
  margin-left: 4px;
}

@media (max-width: 767.98px) {
  .ad-label,
  .ad-summary-label {
    text-align: left !important;
  }
  .ad-flex,
  .ad-btn-group {
    display: block !important;
  }
  .ad-btn-group button {
    width: 100% !important;
    margin-top: 5px !important;
  }
}

.multi-line-select-option {
  white-space: pre-wrap !important;
}
