.page {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.content {
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

.sidecard {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.fileContainer {
  box-shadow: none !important;
}

.fileContainer .deleteImage {
  background: #234075 !important;
  font-size: 12px !important;
  line-height: 20px !important;
  width: 20px !important;
  height: 20px !important;
}

.warningIcon {
  color: #e3a82b !important;
}

.helpIcon {
  color: #234075 !important;
}

.bcgov-normal-blue {
  color: white !important;
  font-weight: 700 !important;
  font-style: normal !important;
  background-color: #234075 !important;
}

.bcgov-normal-blue:hover {
  background-color: rgba(43, 91, 164, 1) !important;
  color: white !important;
}

.bcgov-normal-white {
  color: #234075 !important;
  background-color: white !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgba(204, 204, 204, 1) !important;
}

.bcgov-normal-white:hover {
  box-sizing: border-box !important;
  border-width: 1px !important;
  border-style: solid !important;
  background-color: rgba(242, 242, 242, 1) !important;
  border-color: rgba(204, 204, 204, 1) !important;
}

.bcgov-normal-light {
  color: #234075 !important;
  background-color: #e3eaf8 !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #e3eaf8 !important;
}

.bcgov-normal-light:hover {
  box-sizing: border-box !important;
  border-width: 1px !important;
  border-style: solid !important;
  background-color: #bdd3ff !important;
  border-color: #bdd3ff !important;
}

.bcgov-normal-yellow {
  color: #234075 !important;
  background-color: #e3a82b !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #e3a82b !important;
}

.bcgov-normal-yellow:hover {
  box-sizing: border-box !important;
  border-width: 1px !important;
  border-style: solid !important;
  background-color: #ffae00 !important;
  border-color: #ffae00 !important;
}

.bcgov-button {
  min-width: 120px !important;
}

.btn {
  border-radius: 5px !important;
}

.bcgov-datepicker-wrapper input {
  opacity: 1 !important;
  color: #234075 !important;
  padding: 10px !important;
  border: 1px solid hsl(0, 0%, 80%) !important;
  width: 100% !important;
  margin: 0px !important;
  border-radius: 4px !important;
  background: #fff !important;
  text-align: center !important;
}

.MuiOutlinedInput-multiline {
  padding: 0px !important;
}

.MuiInputBase-input {
  padding: 10px !important;
  color: #234075 !important;
}

.MuiInputBase-input::placeholder {
  color: #000000 !important;
}

.bcgov-datepicker-wrapper input:hover,
.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #adadad !important;
}

.div-btn:focus,
.bcgov-datepicker-wrapper input:focus {
  border: 2px solid #2684ff !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #2684ff !important;
}

.MuiSelect-root {
  color: #234075 !important;
}

.MuiIconButton-root:hover {
  background-color: #2340751a !important;
}

.MuiDialogTitle-root {
  text-align: right !important;
  margin-top: -10px !important;
  padding: 0px !important;
  color: #234075 !important;
}

.bcgov-select [class*="-MenuList"] [class*="-option"],
[class*="-singleValue"] {
  color: #234075 !important;
}

.bcgov-select [class*="-placeholder"] {
  color: #9b9b9b !important;
}

.MuiRadio-root,
.MuiCheckbox-root,
.MuiIconButton-root {
  color: inherit !important;
  padding: 0px !important;
}

.bcgov-input {
  width: 100% !important;
}

.bcgov-datepicker-wrapper {
  width: 100% !important;
}

.bcgov-move-right {
  display: none !important;
}

.bcgov-dropdown-wrapper {
  width: 100% !important;
}
.bcgov-dropdown {
  width: 100% !important;
  padding: 8px 25px 8px 15px !important;
}

.bcgov-select-form {
  width: 100% !important;
}

.pt2b2 {
  padding: 2px 0px !important;
}

.p10 {
  padding: 10px 0px !important;
}

.pt10b30 {
  padding-top: 10px !important;
  padding-bottom: 30px !important;
}

.ptm3 {
  padding-top: 3px !important;
}

.pbm3 {
  padding-bottom: 3px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mrm10 {
  margin-right: -10px !important;
}

.txt-center {
  text-align: center !important;
}

.field-bg-blue,
.bg-blue,
.bg-blue div {
  background: #e3eaf8 0% 0% no-repeat padding-box !important;
}

:focus {
  outline: none !important;
  outline-offset: 1px;
}

.MuiTableCell-root div,
.MuiTableCell-root span,
.MuiTableCell-root,
.MuiInputBase-root {
  font-family: BCSans, Verdana, Arial, sans serif !important;
}

.MuiInput-underline:before,
.MuiInput-underline:after {
  border: none !important;
}

.bcgov-required::after {
  content: "*";
  margin-left: 2px !important;
  margin-right: -10px !important;
  color: red !important;
}

.bcgov-datepicker-wrapper-error input,
.bcgov-select-error [class*="-control"] {
  border-color: red !important;
}

.wrap-text {
  overflow-wrap: anywhere !important;
}

@media (max-width: 575.98px) {
  .page {
    flex-direction: column;
  }
}

@media (min-width: 576px) {
  footer {
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
  }
  .page {
    padding-bottom: 100px;
  }
}

@media print {
  body {
    visibility: hidden;
  }

  .print {
    width: 100%;
    visibility: visible;
    margin-left: 1cm;
  }
}
