.page {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.content {
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

.sidecard {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.fileContainer {
  box-shadow: none !important;
}

.fileContainer .deleteImage {
  background: #234075 !important;
  font-size: 12px !important;
  line-height: 20px !important;
  width: 20px !important;
  height: 20px !important;
}

.warningIcon {
  color: var(--color-yellow);
}

.helpIcon {
  color: #234075 !important;
}


.btn {
  border-radius: 5px !important;
}

.btn:focus, .btn:focus-visible {
  box-shadow: none !important;
}

.btn:focus-visible {
  outline: 2px solid var(--color-med-blue) !important;
  outline-offset: 2px !important;
}

.btn-link {
  color: var(--color-med-blue) !important;
  border-radius: 1px !important;
}

.btn-link:hover {
  color: var(--color-blue) !important;
}

.btn-link.btn-back {
  text-decoration: none !important;
  padding: 0;
}

.btn-link.btn-boolean {
  padding: 0;
}

.btn-urgency-1,
.btn-safety-selected  {
  color: white !important;
  background-color: var(--color-med-blue) !important;
}

.btn-urgency-2 {
  color: var(--color-grey) !important;
  background-color: var(--color-yellow) !important;
}

.btn-urgency-3 {
  color: white !important;
  background-color: var(--color-red) !important;
}

.bcgov-datepicker-wrapper input,
.react-datepicker-wrapper input {
  opacity: 1 !important;
  padding: 10px !important;
  border: 1px solid hsl(0, 0%, 80%) !important;
  width: 100% !important;
  margin: 0px !important;
  border-radius: 4px !important;
  background: #fff !important;
}

.react-datepicker-wrapper input {
  height: 39px;
}

.react-datepicker-wrapper input.error {
  border: 1px solid red !important;
}

.MuiOutlinedInput-multiline {
  padding: 0px !important;
}

.MuiInputBase-input {
  padding: 10px !important;
}

.MuiInputBase-input::placeholder {
  color: #000000 !important;
}

.bcgov-datepicker-wrapper input:hover,
.react-datepicker-wrapper input:hover,
.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #adadad !important;
}

.div-btn:focus,
.bcgov-datepicker-wrapper input:focus,
.react-datepicker-wrapper input:focus {
  border: 2px solid #2684ff !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #2684ff !important;
}

.MuiSelect-root {
  color: #234075 !important;
}

.MuiIconButton-root:hover {
  background-color: #2340751a !important;
}

.MuiDialogTitle-root {
  text-align: right !important;
  margin-top: -10px !important;
  padding: 0px !important;
  color: #234075 !important;
}

.bcgov-select [class*="-placeholder"] {
  color: #9b9b9b !important;
}

.MuiRadio-root,
.MuiCheckbox-root,
.MuiIconButton-root {
  color: inherit !important;
  padding: 0px !important;
}

.bcgov-input {
  width: 100% !important;
}

.bcgov-input input {
  background-color: white;
}

.bcgov-input .MuiOutlinedInput-adornedEnd {
  padding-right: 0 !important;
}

.bcgov-input .MuiOutlinedInput-adornedEnd input {
  padding-right: 32px !important;
}

.bcgov-textarea {
  width: 100%;
  height: auto;
  min-height: 96px;
  max-height: 200px;
  background-color: white;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  padding: 10px;
}

.bcgov-textarea .standard-message:not(:last-of-type) {
  margin-bottom: 16px;
}

.bcgov-datepicker-wrapper,
.react-datepicker-wrapper {
  width: 100% !important;
}

.react-datepicker-wrapper + .MuiSvgIcon-root,
.react-datepicker__tab-loop  + .MuiSvgIcon-root {
  position: absolute;
  top: 8px;
  right: 16px;
}

.react-datepicker__navigation {
  opacity: 0.5;
}
.react-datepicker__navigation:hover {
  opacity: 1;
}

.react-datepicker__navigation-icon::before {
  border-color: var(--color-grey) !important;
  top: 15px !important;
}

.bcgov-move-right {
  display: none !important;
}

.bcgov-dropdown-wrapper {
  width: 100% !important;
}
.bcgov-dropdown {
  width: 100% !important;
  padding: 8px 25px 8px 15px !important;
}

.bcgov-select-form {
  width: 100% !important;
}

.pt2b2 {
  padding: 2px 0px !important;
}

.p10 {
  padding: 10px 0px !important;
}

.pt10b30 {
  padding-top: 10px !important;
  padding-bottom: 30px !important;
}

.pt3 {
  padding-top: 3px !important;
}

.mr3 {
  margin-right: 3px !important;
}

.pbm3 {
  padding-bottom: 3px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mrm10 {
  margin-right: -10px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.txt-center {
  text-align: center !important;
}

.field-bg-blue {
  background-color: var(--color-light-blue);
}

.field-bg-grey {
  color: var(--color-grey);
  background-color: var(--color-background-grey);
  margin-bottom: 8px;
  padding: 16px;
}

:focus {
  outline: none !important;
  outline-offset: 1px;
}

.MuiTableCell-root div,
.MuiTableCell-root span,
.MuiTableCell-root,
.MuiInputBase-root,
.MuiTypography-root {
  font-family: 'BC Sans', 'Noto sans', Verdana, Arial, sans-serif !important;
}

.MuiInput-underline:before,
.MuiInput-underline:after {
  border: none !important;
}

.bcgov-required::after {
  content: "*";
  margin-left: 2px !important;
  margin-right: -10px !important;
  color: red !important;
}

.bcgov-datepicker-wrapper-error input,
.bcgov-select-error [class*="-control"] {
  border-color: red !important;
}

.wrap-text {
  overflow-wrap: anywhere !important;
}

.transform-none {
  text-transform: none !important;
}

.small-text {
  font-size: 0.875rem;
  color: var(--color-grey);
}

.required {
  color: var(--color-red);
}

@media (max-width: 768px) {
  .page,
  .Home,
  .Advisory,
  .AdvisorySummary,
  .ParkInfo,
  .app-container {
    padding-top: 80px;
  }
}

@media (max-width: 575.98px) {
  .page {
    flex-direction: column;
  }
}

@media (min-width: 576px) {
  footer {
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
  }
  .page {
    padding-bottom: 100px;
  }
}

@media print {
  body {
    visibility: hidden;
  }

  .print {
    width: 100%;
    visibility: visible;
    margin-left: 1cm;
  }
}
